@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(./fonts/NanumSquareR.eot);
 src: url(./fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(./fonts/NanumSquareR.woff) format('woff'),
      url(./fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(./fonts/NanumSquareB.eot);
 src: url(./fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(./fonts/NanumSquareB.woff) format('woff'),
      url(./fonts/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(./fonts/NanumSquareEB.eot);
 src: url(./fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(./fonts/NanumSquareEB.woff) format('woff'),
      url(./fonts/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(./fonts/NanumSquareL.eot);
 src: url(./fonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(./fonts/NanumSquareL.woff) format('woff'),
      url(./fonts/NanumSquareL.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/NotoSans-Regular.woff2') format('woff2'),
	url('./fonts/NotoSans-Regular.woff') format('woff'),
	url('./fonts/NotoSans-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/NotoSans-Medium.woff2') format('woff2'),
	url('./fonts/NotoSans-Medium.woff') format('woff'),
	url('./fonts/NotoSans-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/NotoSans-Bold.woff2') format('woff2'),
	url('./fonts/NotoSans-Bold.woff') format('woff'),
	url('./fonts/NotoSans-Bold.otf') format('opentype');
}

/* 스크롤바*/

::-webkit-scrollbar {width: 6px; height: 4px; border-radius: 3px;}
::-webkit-scrollbar-button {display: none;}
::-webkit-scrollbar-thumb {background: #ccc; border-radius: 3px; border: none;}
::-webkit-scrollbar-track {background-color: transparent;}

.bgcFont {
	transition:color 0.4s;
	transition:background-color 0.4s;
}
.bgc {
	transition:background-color 0.4s;
}
.fontColor {
	transition:color 0.4s;
}

* {margin:0;padding:0;word-break:keep-all;}
html {height: 100%; font-size: 20px;}
textarea,
body{font-family:'NanumSquare',"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; line-height:1.5; -webkit-text-size-adjust:none; font-weight:normal; background-color: #1B1C24; color: #fff;}
body.mCustomScrollbar {height: 100%;}
body.mCustomScrollbar .mCSB_container_wrapper {margin-right: 0; margin-bottom: 0;}
body.mCustomScrollbar .mCSB_scrollTools .mCSB_draggerRail {display: none;}
body.mCustomScrollbar .mCSB_container_wrapper > .mCSB_container {padding-bottom: 0;}
hr{display:none;}
img{border:0; vertical-align:top;}
fieldset{border:0;}
ul,ol,li{list-style:none;}
select,textarea{border:0; outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-appearance:none;}
select::-ms-expand {display:none}
a[href^=tel] {color: inherit; text-decoration: none;}

em, i {font-style:normal;}
table { border-collapse:collapse;}

a{color:#000; text-decoration:none; outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-appearance:none;}
a:link,a:hover,a:active{text-decoration:none;}

audio,
canvas,
video {display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]) {display: none;height: 0;}
::-moz-selection {background: #b3d4fc; text-shadow: none;}
::selection {background: #b3d4fc; text-shadow: none;}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {-webkit-appearance: button; cursor: pointer; *overflow: visible;}
button[disabled],
input[disabled] {cursor: default;}

input[type="checkbox"],
input[type="radio"] {box-sizing: border-box; padding: 0; *height: 13px; *width: 13px;}

textarea,
input[type='text'], input[type='password'] {font-family:'Noto Sans KR'; font-weight: 500;
	-webkit-appearance:none;
	appearance:none;
	-webkit-border-radius:0;
	border-radius:0;
}
textarea {overflow: hidden; overflow-y:auto;}
input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
button {border: none; background-color: transparent;}
::-webkit-input-placeholder {color: #9a1B1E;}
:-moz-placeholder {color: #9a1B1E;}
::-moz-placeholder {color: #9a1B1E;}
:-ms-input-placeholder {}
::-ms-input-placeholder {}
:-ms-placeholder {color: #9a1B1E;}
:placeholder {color: #9a1B1E;}
input[type='text'] {border:1px solid #ccc; outline:0;}

.hidden {position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px);}
caption {height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); top: -1px; left: -1px;}
table {border-collapse:collapse; width: 100%; table-layout:fixed;}

.only-tab,
.only-mo {display: none;}
.only-pc {display: block;}

.header header h1 {font-size: 0;}


/* button */
[class*='btn-type'] {display:inline-block;min-width:216px; height:72px; padding:0 30px; border-radius:36px; color: #000; font-size:21px; text-align:center; transition:all .2s; font-weight: 700;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main [class*='btn-type'] {min-width:260px;}
[class*='btn-'] span,
[class*='btn-'] i {position:relative; vertical-align: top; height: 100%; line-height: 72px; display: inline-block;}
.btn-type-s {height: 36px; min-width: auto;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.btn-type-s span,
.btn-type-s i {line-height: 36px;}
.btn-type01 {background-color:#46cbe2;}
.btn-type01:active {background-color:rgba(70,203,226,.6);}
.btn-type02 {background-color:#383b54;}
.btn-type02:active {background-color:rgba(56,59,84,.6);}
.btn-type07 {background-color:#6C91F5;}
.btn-type07:active {background-color:rgba(108,145,245,.6);}
.btn-type03 {background-color:transparent;border:1px solid rgba(255,255,255,.6);}
.btn-type03:active {background-color:rgba(255,255,255,.05);}
.btn-type04 {background-color:transparent;border:2px solid rgba(255,255,255,.6);color:#fff;}
.btn-type06 {background-color:transparent;border-bottom:1px solid #C0C5CC;border-radius:0;padding:0;font-size:1.3px;height:2px;line-height:2px;min-width:inherit;color:#C0C5CC;margin-left:0.8px;vertical-align:top;}
.btn-type01:hover, .btn-type02:hover, .btn-type07:hover {
	box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
}
.btns [class*='btn-type'] + [class*='btn-type'] {margin-left: 17px;}
.btns [class*='btn-type'] + .btn-type-s {margin-left: 13px;}
.square {
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
}

/* popup */
.alert-open .popup-wrap-alert,
.popup-open .popup-wrap {display: block; top: auto; height: 100vh;}
.popup-wrap-alert,
.popup-wrap {display: none; position:fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;z-index:110;}
.alert-open .dimmed,
.popup-wrap .dimmed {position:absolute; top:0;left:0;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.8);}
.popup-wrap .popup-layer {display: none; position:fixed; width:calc(100% - 40px);max-width:1024px;height:calc(100% - 40px);max-height:720px; top:50%; left:50%; transform:translate(-50%,-50%); background-color:#282a39; border-radius:10px; box-shadow:0 10px 20px rgba(0,0,0,.16); overflow:hidden; color: #fff;}
.popup-wrap .popup-layer .popup-header {position:relative;height:120px; padding:44px 52px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.popup-wrap .popup-layer .popup-header h1 {padding:3px 4px 3px 0;font-size:38px;font-weight:700;line-height:5px;letter-spacing:-.05em;}
.popup-wrap .popup-layer .popup-header .btn-close {position:absolute;top:50px;right:46px;}
.popup-wrap .popup-layer .popup-content {max-height:556px;margin:0 10px 44px 0;padding:0 42px 0 52px;overflow-y:auto;}

.popup-wrap .popup-layer .popup-content::-webkit-scrollbar {width:6px;height:4px;border-radius:3px;}
.popup-wrap .popup-layer .popup-content::-webkit-scrollbar-track {background-color:transparent;}
.popup-wrap .popup-layer .popup-content::-webkit-scrollbar-thumb {background:#ccc;border-radius:3px;border:none;}
.popup-wrap .popup-layer .popup-content::-webkit-scrollbar-button {display:none;}

.popup-wrap .popup-layer.alert {width:36px;height:auto;}
.popup-wrap .popup-layer.alert .popup-content {margin-bottom:0;padding:40px 22px 24px 38px;}
.popup-wrap .popup-layer.alert .alert-msg {line-height:26px;letter-spacing:-.05em;}
.popup-wrap .popup-layer.alert .alert-msg .msg-tit {display:block;margin-bottom:4px;padding-top:3px;font-size:20px;font-weight:700;word-break:keep-all;}
.popup-wrap .popup-layer.alert .alert-msg .msg-txt {padding-top:1px;color:#c0c5cc;font-size:18px;word-break:keep-all;white-space: pre-wrap;}
.popup-wrap .popup-layer.alert .popup-btn {margin-top:26px;font-size:0;text-align:right;}
.popup-wrap .popup-layer.alert .popup-btn button[class*='btn-type'] + button[class*='btn-type'] {margin-left:16px;}
.popup-wrap .popup-layer.player {height:auto;}
.popup-wrap .popup-layer.player .popup-header {height:70px;}
[class*='ico-'] {display: inline-block; background-repeat: no-repeat; background-position: center center; background-size: 100%;}
.ico-close {width: 30px; height: 30px !important; background-image: url('../images/ico_close.png');}
.popup-wrap .popup-layer.player .popup-header .btn-close {top:20px;right:46px;}
.popup-wrap .popup-layer .popup-header .btn-close {position: absolute; top: 50px; right: 46px;}
.popup-wrap .popup-layer.player .popup-content {margin-bottom:60px;overflow-y:hidden;}
.alert-open,
.popup-open {overflow:hidden !important;height:100% !important;}
.popup-open .content-wrap .content {position:relative;z-index:10;}
.popup-open .main-container .content main .popup-wrap .popup-layer {position:absolute;}
.popup-open .fp-right {opacity:0;}

.popup-wrap-alert {display: none;}
.type-alert {position: absolute; z-index: 130; top: 50%; left: 50%; color: #fff; min-width:300px; padding: 40px 22px 22px 38px; background-color:#282a39; overflow:hidden;
	border-radius:10px;
	box-shadow:0 10px 20px rgba(0,0,0,.16);
	transform:translate(-50%, -50%);
}
.type-alert .alert1 {font-size: 20px; line-height: 26px; font-weight: 700;}
.type-alert .alert2 {margin-top: 8px; font-size: 18px; line-height: 26px; font-weight: 300;}
.type-alert .btns {margin-top: 28px; text-align: right;}
.popup-wrap-alert {z-index: 120;}

/* terms */
.terms-wrap {letter-spacing:-.05em;}
.terms-wrap .terms-tit {margin-top:40px;font-size:26px;line-height:40px;}
.terms-wrap .terms-stit {margin-top:20px;font-size:21px;line-height: 1.3;}
.terms-wrap .terms-stit2 {margin-top:20px;font-size:18px;opacity:.8;margin-bottom:5px}
.terms-wrap .terms-txt {font-size:18px;line-height:28px;opacity:.8;}
.terms-wrap .terms-txt strong {vertical-align:top;}
.terms-wrap .terms-tit + .terms-txt {margin-top:16px;}
.terms-wrap .terms-stit + .terms-txt {margin-top:10px;}
.terms-wrap .terms-txt + .terms-txt {margin-top:8px;}
.terms-wrap .terms-box {margin-top:40px;margin-bottom:60px;padding:18px 24px;background-color:#14151d;font-size:18px;line-height:27px;}
.terms-wrap .terms-box strong {display:block;margin-bottom:4px;font-weight:700;}
.terms-wrap .terms-tb {table-layout:fixed;width:100%;margin-top:40px;border-top:1px solid rgba(255,255,255,.8);}
.terms-wrap .terms-tb thead th,
.terms-wrap .terms-tb tbody td {padding:10px 5px;border-bottom:1px solid rgba(255,255,255,.4);font-size:16px;text-align:center;}
.terms-wrap .terms-tb thead th {font-weight:400;}
.terms-wrap .terms-tb tbody td {opacity:.8;}
.terms-wrap .terms-tb .ta-l {padding-left:16px;}
.terms-page-wrap {letter-spacing: -.05em; background-color: #fafafa; padding: 58px 40px;}
.terms-page-wrap section {max-width: 1200px; margin: 0 auto; padding: 50px; background-color: #f1f1f1; border-radius: 8px; color: #333;}
.terms-page-wrap .guide-box {max-width: 1200px; margin: 0 auto; padding: 50px; background-color: #f1f1f1; border-radius: 8px; color: #333;}
.terms-page-wrap .guide-box h1 {margin-bottom: 16px;font-size: 28px;}
.terms-page-wrap .terms-tit {margin-top:40px;font-size:24px;line-height:40px;}
.terms-page-wrap .terms-stit {margin-top:20px;font-size:21px;line-height: 1.3;}
.terms-page-wrap .terms-stit2 {margin-top:20px;font-size:18px;opacity:.8;margin-bottom:5px}
.terms-page-wrap .terms-txt {font-size:18px;line-height:28px;opacity:.8;}
.terms-page-wrap .terms-txt strong {vertical-align:top;font-size:21px}
.terms-page-wrap .terms-tit + .terms-txt {margin-top:16px;}
.terms-page-wrap .terms-stit + .terms-txt {margin-top:10px;}
.terms-page-wrap .terms-txt + .terms-txt {margin-top:8px;}
.terms-page-wrap .terms-box {margin-top:40px;margin-bottom:60px;padding:18px 24px;background-color:#f5f5f5;font-size:18px;line-height:27px;}
.terms-page-wrap .terms-box strong {display:block;margin-bottom:4px;font-weight:600;}
.terms-page-wrap .terms-tb {table-layout:fixed;width:100%;margin-top:40px;border-top:1px solid #666;}
.terms-page-wrap .terms-tb thead th,
.terms-page-wrap .terms-tb tbody td {padding:10px 5px;border-bottom:1px solid #dfdfdf;font-size:16px;text-align:center;}
.terms-page-wrap .terms-tb thead th {font-weight:400;}
.terms-page-wrap .terms-tb tbody td {color:#666;}
.terms-page-wrap .terms-tb .ta-l {padding-left:16px;}
.terms-page-wrap .ta-r {text-align: right;}

#menu,
#menu-b {position: fixed; z-index: 100; top: 50%; right: 45px;
	transform:translateY(-50%);
}
#menu {display: none;}
#menu .menu-in,
#menu-b .menu-in {}
#menu .menu-in > ul,
#menu-b .menu-in > ul {}
#menu .menu-in > ul > li,
#menu-b .menu-in > ul > li {}
#menu .menu-in > ul > li + li,
#menu-b .menu-in > ul > li + li {margin-top: 20px;}
#menu .menu-in > ul > li > a,
#menu-b .menu-in > ul > li > a {display: block; width: 8px; height: 8px; border: 1px solid #fff; font-size: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#menu .menu-in > ul > li.active > a,
#menu-b .menu-in > ul > li.active > a {background-color: #fff;}
.pre-line {white-space: pre-line;
	word-wrap:break-word; word-break:keep-all;
}

.header .btn-menu {display: none;}
.header header nav ul {width: 100%;}
.header header nav li a {display: block; padding: 17px 0 17px 0; color: #c0c5cc; font-size: 18px; line-height: 21px; text-align: center; font-weight: 300;}
.header header nav li.active a {background-color: #040406;}
.header header nav li a:hover, .header header nav li.active a {color: #fff; font-weight: 700;}

.footer-wrap {position: relative;}
.footer {color: #fff; padding: 40px 0 40px 152px; background-color: #0e0f16;}
.footer .footer-link {margin: 0 auto; max-width: 1200px;}
.footer .footer-link .link-list {display: none;}
.footer .footer-link .link-list ul {font-size: 0;}
.footer .footer-link .link-list ul li {position: relative; display: inline-block; vertical-align: top; color: #76777C; font-size: 14px; line-height: 24px;}
.footer .footer-link .link-list ul li + li {margin-left: 20px; padding-left: 21px;}
.footer .footer-link .link-list ul li + li:after {content:''; display: block; position: absolute; top: 50%; left: 0; margin-top: -7px; width: 1px; height: 14px; background-color: #76777C;}
.footer .footer-link .link-list ul li a {color: #76777C;}
.footer .footer-link .link-list ul li a strong {color: #C0C5CC;}
.footer .footer-link .copyright {font-size: 15px; color: #4E4E55;}

.fp-section .footer {padding-left: 0;}

.other-content,
.content-in {padding-left: 152px;}
.content-in .content {position: relative; z-index: 1;
	transform:translate(0,0);
}
.other-content {display: none;}

.contents-wrap .others {display: flex; position: relative; /*overflow: hidden;*/}
.contents-wrap .others:before {content:''; width: 0; height: 100vh; /*display: none;*/}
.contents-wrap .others .other-content {width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contents-wrap .others .other-content.page-view {display: flex; flex-direction: column; justify-content: center; width: 100%;}
.contents-wrap .others .other-content.page-view .content-item {padding-top: 60px; padding-bottom: 60px;}
.fullpage-wrap2 {display: none;}

.qna {margin: 0 auto; max-width: 1200px; padding: 0 20px; color: #fff;}

.h3-wrap {line-height: 42px;}
.h3-wrap * {vertical-align: top;}
.h3-wrap h3 {display: inline-block; font-size: 38px; margin-right: 26px; color: #46CBE2;}
.h3-wrap .des {display: inline-block; font-size: 18px; font-weight: 300;}

.agenda-list {margin-top: 53px;}
.agenda-list table th {font-size:18px; color:#fff; border-bottom:1px solid #fff; padding: 11px 14px; text-align:left; font-weight: 400; text-align: center;}
.agenda-list table td {font-size:16px; color:#CDD0D2; border-bottom:1px solid #515158; border-top: 1px solid #515158; padding: 0 14px; line-height: 20px; text-align:center; vertical-align:middle; font-weight: 300;}
.agenda-list table td.blank {border-bottom:1px solid transparent; border-top: 1px solid transparent; padding: 19px 0;}
.agenda-list table td.subject {font-size: 18px; text-align: left; font-weight: 400;}
.agenda-list table td.subject a {color: #fff;
	transition:color 0.4s;
}
.agenda-list table td.subject a:active,
.agenda-list table td.subject a:hover {/*font-size: 20px;*/ font-weight: 700; color: #46CBE2;}

.agenda-list table tr.notice td {border-bottom: 1px solid #8D8E92;}
.agenda-list table tr.notice td.subject a {font-weight: 700; color: #46CBE2; font-size: 20px;}

.paging-wrap {position: relative; margin-top: 52px; padding-top: 22px; padding-bottom: 22px;}
.paging-wrap .btn-wrap {position: absolute; top: 0; right: 0;}
.paging {text-align: center; line-height: 20px; font-size: 18px;}
.paging * {display: inline-block; color: #CDD0D2;}
.paging a,
.paging span {margin: 0 14px;}
.paging .current,
.paging a:hover {color: #46CBE2; font-weight: 700;}
.paging .start,
.paging .end {letter-spacing: -3px; margin: 0;}
.paging .prev {}
.paging .next {}

.view-area {border-bottom: 1px solid #8D8E92;}
.view-area .view-area-in {padding: 50px 50px 70px; font-size: 18px; line-height: 26px; font-weight: 300; color: #E9E9E9;}

.qna-btns {margin-top: 30px; font-size: 0;}
.qna-btns-r {text-align: right;}
.qna-btns > * {display: inline-block;}
.qna-btns .btn {border: 1px solid #A9AAB0; padding: 0 34px; color: #fff; font-size: 18px; line-height: 36px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	transition:all 0.4s;
}
.qna-btns.qna-btns-s .btn {font-size: 14px; line-height: 28px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}
.qna-btns.qna-btns-s .btn + .btn {margin-left: 10px;}
.qna-btns .btn + .btn {margin-left: 16px;}
.qna-btns .btn:hover {background-color: #383B54; border-color: #383B54;}
.qna-btns .btn:active {background-color: #303138; border-color: #303138;}

.reply {margin-top: 30px; border-top: 1px solid #434447; border-bottom: 1px solid #434447;}
.reply .item {padding: 32px 0 30px 86px;}
.reply .item .reply-head {position: relative; font-size: 18px; line-height: 24px;}
.reply .item .reply-head .qna-btns {position: absolute; top: 0; right: 0; margin-top: 0;}
.reply .item .reply-head .reply-icon {position: relative; display: inline-block;}
.reply .item .reply-head .reply-icon:after {content:''; position: absolute; top: 0; left: -31px; width: 16px; height: 16px; border-left: 1px solid #707070; border-bottom: 1px solid #707070;}
.reply .item .reply-head .date {display: inline-block; margin-left: 38px;}
.reply .item .text {margin-top: 30px; font-size: 18px; line-height: 26px; color: #e9e9e9;}
.reply .item .reply-input {margin-top: 30px;}
.reply .item .reply-input textarea {width: 100%; color: #fff; border: 1px solid #444; font-size: 18px; line-height: 26px; min-height:78px; padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="text"]:focus,
textarea:focus {border-color: #46cbe2 !important;}

.write-box {margin-top: 40px; padding: 60px; background-color: #1f2029;
	box-shadow: 0 1rem 2rem rgb(0 0 0 / 16%);
}
.write-box .info {overflow: hidden;}
.write-box .info + .info {margin-top: 40px;}
.write-box .inputs label,
.write-box .info dt {font-size: 18px; font-weight: 700; color: #fff; line-height: 20px;}
.write-box .info dt {float: left; width: 4em; clear:both;}
.write-box .info dd {overflow: hidden; font-weight: 18px; color: #C0C5CC; line-height: 20px;}
.write-box .inputs {margin-top: 40px;}
.write-box .inputs label {}
.write-box .inputs input[type="text"],
.write-box .inputs textarea {display: block; border: 0 none; border-bottom: 1px solid #79797F; width: 100%; color: #fff; background-color: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.write-box .inputs input[type="text"] {height: 42px;}
.write-box .inputs textarea {margin-top: 12px; line-height: 30px; min-height:300px;}
.write-box + .qna-btns {margin-top: 40px;}

.introduce {margin: 0 auto; max-width: 1000px; padding-left: 20px; padding-right: 20px;}
.introduce-wide {max-width:1200px;}
.introduce .introduce-in {}
.introduce .introduce-in .p1 {color: #fff; font-family: 'lato'; font-size: 35px; line-height: 42px;}
.introduce .introduce-in .h2,
.introduce .introduce-in .p2 {margin-top: 40px; color: #fff; font-size: 66px; line-height: 76px; font-weight: 700; letter-spacing: -3px;}
.main .introduce .introduce-in .h2 {margin-top: 30px; padding-bottom: 65px;}
.introduce .introduce-in .p3 {margin-top: 23px; font-size: 19px; line-height: 28px; letter-spacing: -1px;}
.introduce .introduce-in .p3 strong {display: block; color: #46CBE2;}
.introduce .introduce-in .p4 {margin-top: 48px; font-size: 32px; line-height: 45px; font-weight: 300;}
.fullpage-wrap2 .introduce .introduce-in .p4 {font-size: 38px; line-height: 42px;}
.fullpage-wrap2 .content-cv1 .introduce .introduce-in .p4,
.fullpage-wrap2 .content-cv4 .introduce .introduce-in .p4 {color: #46CBE2; font-weight: 700;}
.fullpage-wrap2 .content-cv1 .introduce .introduce-in .p3 {margin-top: 60px; padding-bottom: 50px;}
.introduce .introduce-in .p4 strong {display: block; color: #46CBE2; font-weight: 700;}
.introduce .btns {margin-top: 46px;}
.introduce .introduce-in .p4.p4-type1 {margin-top: 100px;}
.introduce .introduce-in .p4.p4-type1 > * {display: inline-block; vertical-align: middle;}
.introduce .introduce-in .p4.p4-type1 strong {margin-right: 10px;}
.introduce .introduce-in .p4.p4-type1 span {font-size: 16px;}

.introduce .introduce-in .h2-1 {font-size: 38px; line-height: 58px; color: #46CBE2;}
.fc {color: #46CBE2 !important;}
.img-bottom {position: absolute; right: 0; bottom: 0; left: 0;}
.img-bottom > span {display: block; max-width:1200px; margin: 0 auto; text-align: right;}
.img-bottom > span img {width: 73.83333333%;}
.img-top {position: absolute; top: 0; right: 0; left: 152px;}
.img-top > span {display: block; max-width:1200px; margin: 0 auto; text-align: center;}
.img-top > span img {max-width:100%;}

.content-in .content-cv1 {padding-top: 160px; padding-bottom: 510px;}
.content-in .content-cv2 {padding-top: 160px; padding-bottom: 160px;}
.content-in .content-cv2 .img {margin-top: 86px; text-align: center;}
.content-in .content-cv2 .img img {max-width:100%;}
.content-in .content-cv3 {padding-top: 160px; padding-bottom: 160px;}
.content-in .content-cv3 .introduce .introduce-in {position: relative; padding-bottom: 360px;}
.content-in .content-cv3 .img {position: absolute; right: 0; bottom: 0; text-align: right;}
.content-cv3 .introduce .introduce-in .p4 {margin-top: 8px;}

ul.ul2,
dl.dl1 {overflow: hidden; margin-top: 33px; font-size: 20px; line-height: 28px; font-weight: 300; color: #e9e9e9;}
dl.dl1 dt {position: relative; float: left; width: 4.25em; padding-left: 16px;}
ul.ul2 > li {position: relative; padding-left: 16px;}
ul.ul2 > li + li {margin-top: 10px;}
.list1 li:after,
ul.ul2 > li:after,
dl.dl1 dt:after {content:''; position: absolute; top: 12px; left: 0; width: 3px; height: 3px; font-size: 0; background-color: #fff;}
dl.dl1 dd {position: relative; overflow: hidden; padding-left: 12px;}
dl.dl1 dd a {color: #fff;}
dl.dl1 dd:after {content:':'; position: absolute; top: 0; left: 0;}
.list1 {margin-top: 28px; font-size: 20px; line-height: 28px; font-weight: 300;}
.list1 > li {position: relative; padding-left: 16px;}
.list1 > li:not(:first-child) {margin-top: 20px;}
.list1.list1-type1 > li:not(:first-child) {margin-top: 0;}
.list1 > li > ul {margin: 0 0 0 8px;}
.list1 > li > ul > li {text-indent: -1em; padding-left: 1em;}

.cv4-items-wrap {padding-left: 144px;}
.cv4-items {position: relative; display: flex; justify-content:center; margin-top: 136px; padding-bottom: 30px;}
.cv4-items:after {content:''; position: absolute; top: 75px; left: 100px; right: 100px; height: 1px; border-top: 1px dashed #46CBE2; opacity: 0.4;}
.cv4-items .item {position: relative; z-index: 1; width: 25%; padding-left: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.cv4-items.col3 {margin-top: 35px;}
.cv4-items.col3 .item {width: 33.33333333%; padding-left: 0;}
.cv4-items.col4 .item {width: 25%;}
.cv4-items.col3:after {top: 100px; left: 200px; right: 200px;}
.cv4-items .item:after {content:''; position: absolute; top: 68px; right: -5px; border-left: 10px solid #46CBE2; border-top: 8px solid transparent; border-bottom: 8px solid transparent;}
.cv4-items.col3 .item:after {top: 93px;}
.cv4-items.col4:after {top: 90px; left: 100px; right: 100px;}
.cv4-items.col4 .item:after {top: 82px;}
.cv4-items .item:last-child:after {display: none;}
.cv4-items .item .img {text-align: center;}
.cv4-items .item .img.img-txt {position: relative;}
.cv4-items .item .img.img-txt .txt {position: absolute; top: 50%; left: 50%; font-size: 22px; line-height: 32px;
	transform:translate(-50%, -50%);
}
.cv4-items.col4 .item .img.img-txt .txt {font-size: 19px; line-height: 28px; font-weight: 700;}
.cv4-items.col4 .item .img.img-txt .txt span {white-space:nowrap;}
.cv4-items .item .img.img-txt .txt span {display: block;}
.cv4-items .item .img.img-txt:after {content:''; display: inline-block; width: 200px; height: 200px; background-color: #363846;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.cv4-items.col4 .item .img.img-txt:after {width: 180px; height: 180px; background-color: #46CBE2;}
.cv4-items .item .copy {margin-top: 35px; font-size: 22px; line-height: 32px; text-align: center;}
.cv4-items.col4 .item .info-wrap {display: none;}
.cv4-items .item .info-wrap {display: flex; justify-content:center;}
.cv4-items dl.dl1,
.cv4-items dl.dl1 dt:after {top: 9px;}
.cv4-items dl.dl1 dt {padding-left: 10px;}
.cv4-items dl.dl1,
ul.ul1 {margin-top: 25px; font-size: 16px; line-height: 23px; color: #E9E9E9;}
ul.ul1 li {position: relative; padding-left: 10px;}
ul.ul1 li:after {content:''; position: absolute; top: 9px; left: 0; width: 3px; height: 3px; font-size: 0; background-color: #fff;}
img.mobi {display: none;}

.cv4-items-cover {margin-top: 130px;}
.ex-item-wrap {position: relative; padding-left: 144px;}
[class*='ex-item-wrap'] .tit-section {position: absolute; top: 0; left: 0; bottom: 0; width: 144px; text-align: center; background-color: #0E0F16;}
[class*='ex-item-wrap'] .tit-section span {position: absolute; left: 50%; top: 50%;
	transform:translate(-50%, -50%);
}
.ex-item {position: relative; display: flex; justify-content:space-between; font-size: 16px; line-height: 23px;}
.ex-item > div {display: flex; width: 25%; margin-left: 1px; text-align: center; align-items:center; background-color: rgba(14,15,22, 0.5);}
.ex-item > div .copy {width: 100%; padding: 25px 0; color: #E9E9E9; font-weight: 300;}
.ex-item-wrap2 {position: relative; margin-top: 14px; padding-left: 144px;}
.ex-item-wrap2 ul { padding: 20px 15px 30px 25px; color: #E9E9E9; font-size: 0; background-color: rgba(14,15,22, 0.5);}
.ex-item-wrap2 ul li {padding: 0 3px; margin-top: 10px; display: inline-block; font-size: 16px; line-height: 23px;}
.ex-item-wrap2 ul li span {position: relative; display: block; padding: 16px 10px; height: 100%; text-align: center; font-weight: 300; background-color: rgba(36,36,48,0.6);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ex-item-wrap2 ul li span em {padding-left: 10px; padding-right: 10px;}

.fullpage-wrap2 .section-b0 {background-color: #1B1C24;}
.fullpage-wrap2 .section-b1 {background-color: #090A0E;}
.fullpage-wrap2 .section-b2 {background-color: #1B1C24;}
.fullpage-wrap2 .section-b3 {background-color: #090A0E;}

.check-line {margin-top: 30px;}
.check-line * {vertical-align: middle; font-size: 18px; line-height: 20px;}
.check-line label {margin: 0 19px 0 14px; font-weight: 700; color: #fff;}
.check-line span {color: #C0C5CC;}

.btn-mr {margin-top: 15px; padding-left: 16px;}
.diag {position: relative; margin: 46px auto 0; max-width:920px;}
.diag .pic {position: relative; z-index: 2; text-align: center;}
.diag .pic img {max-width:100%;}
.diag .pic img.wide {width: 60.32608695652174%;}
.diag .des {font-size: 16px; line-height: 23px; color: #E9E9E9;}
.diag .des1,
.diag .des2  {position: absolute; top: 50%; margin-top: -35px;}
.diag .des1 p,
.diag .des2 p {position: relative; z-index: 1; background-color: #1B1C24;}
.diag .des1:after,
.diag .des2:after {content:''; position: absolute; top: 50%; width: 100px; height: 0; margin-top: -1px; border-top: 2px dashed #46CBE2; font-size: 0;}
.diag .des1 {left: 0;}
.diag .des2 {right: 0;}
.diag .des1:after {right: -110px;}
.diag .des2:after {left: -110px;}

.movie {margin-top: 50px; max-width:880px;}
.movie .movie-in {position: relative; padding-top: 56.25%;}
.movie .movie-in video {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.movie .movie-in .play {position: absolute; z-index: 1; top: 0; right: 0; bottom: 0; left: 0; cursor:pointer; font-size: 0; background: url('../images/thumb.png') 0 0 no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.movie .movie-in .play:before{content:''; position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
.movie .movie-in .play:before {background-color: rgba(0,0,0,0.4);
	-webkit-transition: background-color 0.4s;;
	-moz-transition: background-color 0.4s;;
	-o-transition: background-color 0.4s;;
	transition: background-color 0.4s;
}
.movie .movie-in .play:hover:before {background-color: rgba(0,0,0,0.6);}
.movie .movie-in .play:after {content:''; position: absolute; top: 50%; left: 50%; width: 100px; height: 100px; background: url('../images/btn-play.png') center center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	transform:translate(-50%, -50%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.movie .movie-in .play:active:after {background-color: rgba(0,0,0, 0.8);}

@media(min-width:1025px) {
	.header {position: fixed; z-index: 100; top: 0; left: 0; bottom: 0; width: 152px; background-color: #0e0f16;}
	.header header {height: 100vh; padding: 48px 0 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.header header nav {position: relative; width: 100%; margin-bottom: 28px; padding-bottom: 52px;
		flex: 1 1 auto;
		display: flex;
		align-items: center;
	}
	.agenda-list table td.subject a {overflow:hidden;white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; display:block;}

	.cv4-items.col4 .item .img.img-txt .txt {color: #000; letter-spacing: -1px;}
	[class*='ex-item-wrap'] .tit-section,
	.ex-item {border: 1px solid #707070;}
	.ex-item > div {background-color: #252732; margin-left: 0;}
	.ex-item > div + div {border-left: 1px solid #707070;}
	.ex-item-wrap2 ul {border: 1px solid #707070; background-color: #252732;}
	.ex-item-wrap2 ul li {padding: 0 3px; margin-top: 10px; display: inline-block; font-size: 16px; line-height: 23px;}
	.ex-item-wrap2 ul li span {background-color: #54576E;}
}

@media(max-width:1280px) {
	.paging {padding-right: 216px;}
	.paging a, .paging span {margin: 0 10px;}
	.cv4-items.col4 .item .img.img-txt:after {width: 150px; height: 150px;}
	.cv4-items.col4 .item .img.img-txt .txt {line-height: 24px;}
	.cv4-items.col4:after {top: 75px;}
	.cv4-items.col4 .item:after {top: 67px;}
}
@media(max-width:1200px) {
	.content-in .content-cv1 {padding-bottom: 50%;}
}
@media(min-width:1025px) {
	/*.content-in .content-cv3 .img {margin-top: -50px;}*/
}
@media(max-width:1024px) {
	.br {display: block;}

	.only-pc {display: none !important;}
	.only-mo {display: block !important;}
	td .only-mo {display: inline !important;}

	.pre-line {white-space:normal;}
	.header {width: 100%; bottom: auto; min-height:62px;}
	.header .btn-menu {position: absolute; top: 16px; right: 15px; display: block; font-size: 0;}
	.header .btn-menu button {border: 0 none; outline:0; font-size: 0; width: 26px; height: 26px; background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
		background-image: url('../images/ico_menu_m.png');
	}
	.header.opened-menu .btn-menu button {
		background-image: url('../images/ico_menu_close.png');
	}
	.header.opened-menu:before {content: ''; position: fixed; z-index: 10; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.8);}
	body.main .header header.float,
	.header header {position: fixed; z-index: 11; top: 0; right: 0; left: 0; height: auto; min-height:60px; padding: 7px 20px 7px 20px; background-color: #1b1c24;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.header header h1 .only-mo img {width: 100px;}
	.header header nav {display: none; text-align: left;}
	.header.opened-menu header nav {display: block;}
	.header header nav li a {display: inline-block; font-size: 16px; padding: 15px 0;}
	.header header nav li.active a {background: none;}

	.other-content, .content-in {padding-left: 0;}

	.fp-section .footer,
	.footer {padding: 20px;}
	.footer .footer-link .link-list .f-copy,
	.footer .footer-link .link-list ul li,
	.footer .footer-link .copyright {font-size: 13px;}
	.footer .footer-link .link-list .f-copy {color: #94959C;}
	.footer .footer-link .link-list .f-copy p + p {margin-top: 4px;}
	.footer .footer-link .link-list ul {margin-top: 30px;}
	.footer .footer-link .copyright {margin-top: 5px;}
	.footer .footer-link .link-list ul li + li {margin-left: 10px; padding-left: 11px;}

	.h3-wrap h3 {display: block; font-size: 26px; line-height: 32px;}
	.h3-wrap .des {display: block; font-size: 14px; line-height: 20px;}
	.h3-wrap + .btns {margin-top: 20px;}

	.paging-wrap {margin-top: 0;}
	.paging {padding-right: 0; font-size: 14px;}
	.paging a, .paging span {margin: 0 4px;}

	.agenda-list {margin-left: -20px; margin-right: -20px;}
	.agenda-list table tbody,
	.agenda-list table tbody tr,
	.agenda-list table tbody tr td,
	.agenda-list table tbody tr.notice td,
	.agenda-list table {display: inline-block; border: 0 none; text-align: left; padding: 0;}
	.agenda-list table tbody tr.notice td.subject,
	.agenda-list table tbody,
	.agenda-list table tbody tr,
	.agenda-list table tbody tr td.subject {display: block; padding-bottom: 6px;}
	.agenda-list table caption,
	.agenda-list table colgroup,
	.agenda-list table col,
	.agenda-list table tbody tr.notice td,
	.agenda-list table tbody tr td.time,
	.agenda-list table tbody tr td.blank,
	.agenda-list thead {display: none;}
	.agenda-list table tbody tr {padding: 10px 20px 17px; border-bottom: 1px solid #3F4050; background-color: #1F2029;}
	.agenda-list table tbody tr td {font-size: 14px; line-height: 19px; padding-right: 5px;}
	.agenda-list table tbody tr td.subject {padding-right: 0;}
	.agenda-list table tbody tr td.subject a {font-size: 16px; line-height: 24px;}
	.agenda-list table tbody tr.notice {padding: 17px 20px; background-color: #0E0F16; border-bottom: 0 none;}
	.agenda-list table tbody tr.notice td.subject {padding-bottom: 0;}
	.agenda-list table tbody tr.notice td.subject a {line-height: 20px; font-size: 16px;}
	.agenda-list table tbody tr.view-type {border-top: 1px solid #C0C5CC;}

	.agenda-list table tbody tr td:nth-child(9):before {content:'조회 '; }
	.agenda-list table tbody tr td:nth-child(11):before {content:'답글 '}

	.td-btn {margin-left: 5px;}
	.td-btn > a {color: #46CBE2; font-weight: 300;}

	[class*='btn-type'].square {font-size: 16px; height: 40px; font-weight: 700;}
	[class*='btn-type'].square span,
	[class*='btn-type'].square i {line-height: 40px; font-weight: 700;}
	[class*='btn-type'].square span:after {content:'>'; margin-left: 10px;}

	.contents-wrap .others .other-content.page-view .content-item {padding-top: 30px; padding-bottom: 0; background-color: #1A1B23;}
	.view-area {border-bottom: 0 none;}
	.view-area .view-area-in {padding: 30px 0; font-size: 14px; line-height: 22px;}
	.reply {margin-top: 0; margin-left: -20px; margin-right: -20px; border-top: 0 none; border-bottom: 0 none; background-color: #1F2029;}
	.reply .item {padding: 24px 20px;}
	.reply .item .reply-head {font-size: 16px;}
	.reply .item .reply-head .date {margin-left: 8px; font-size: 14px; color: #C0C5CC;}
	.reply .item .reply-head .reply-icon:after {display: none;}
	.reply .re-item .reply-head .reply-icon:after {display: block; top: 6px; left: -20px; width: 9px; height: 9px;}
	.reply .item .text {font-size: 14px; line-height: 20px;}
	.reply .item .reply-input {margin-top: 15px;}
	.reply .item .reply-input textarea {font-size: 16px; line-height: 1.5em;}
	.write-box {background: none; padding: 0;
		box-shadow:none;
	}
	.write-box .info dd,
	.write-box .inputs label, .write-box .info dt {font-size: 16px; line-height: 30px;}
	.write-box .info dd {font-weight: 700; color: #fff;}
	.write-box + .qna-btns {margin-top: 30px; padding-bottom: 30px;}
	.qna-btns .btn {font-size: 14px; line-height: 30px; padding: 0 25px;}
	.qna-btns .btn + .btn {margin-left: 10px;}
	.contents-wrap .others:before {display: none;}

	.introduce .introduce-in .p1 {font-size: 16px; line-height: 18px;}
	.introduce .introduce-in .h2, .introduce .introduce-in .p2 {margin-top: 8px; font-size: 30px; line-height: 36px; letter-spacing: -1px;}
	.introduce .introduce-in .p3 {margin-top: 20px; font-size: 14px; line-height: 20px;}
	[class*='btn-type'] {font-size: 16px; height: 50px; min-width:180px;}
	[class*='btn-'] span, [class*='btn-'] i {line-height: 50px;}
	.introduce .introduce-in .p3 + .p3 {margin-top: 15px;}

	body.main .bg-video {position: fixed;}
	body.main .header header {background: none;
		box-shadow:none;
	}
	body.main .header,
	body.cv .header {position: fixed; top: 0; right: 0; left: 0; z-index: 10;}
	body.main #fullpage .fp-section.fp-table,
	body.main #fullpage .fp-section.fp-table .fp-tableCell {height: calc(100vh - 62px) !important;}

	.introduce .introduce-in .h2-1 {font-size: 26px; line-height: 32px;}
	.fullpage-wrap2 .introduce .introduce-in .p4,
	.introduce-wide .introduce-in .p4 {font-size: 18px; line-height: 24px;}
	.introduce .introduce-in .p4.p4-type1 {margin-top: 40px;}
	.introduce-wide .introduce-in .p4 strong {color: #fff; font-weight: 400;}
	.introduce-wide .introduce-in .p3 {margin-top: 15px;}
	.fullpage-wrap2 .content-cv1 .introduce .introduce-in .p3 {margin-top: 15px; padding-bottom: 0;}
	.content-in .content-cv3 .introduce .introduce-in {padding-bottom: 0;}
	.content-in .content-cv2,
	.content-in .content-cv3 {text-align: left;}
	.content-in .content-cv2 .img {text-align: center; padding: 0 20px;}
	.introduce-wide .img img {max-width:100%;}
	.img-top {left: 0; top: 0; padding-top: 60px; position: relative;}

	.content-in .content-cv3 {padding-top: 33.5%; padding-top: 30px;}
	.content-in .content-cv3 .img {position: static;}
	.fullpage-wrap2 .section-b2 .fp-tableCell {vertical-align: top;}

	.fullpage-wrap2 .section-b0 {background-color: #090A0E;}
	.fullpage-wrap2 .section-b1 {background-color: #1B1C24;}
	.fullpage-wrap2 .section-b2 {background-color: #090A0E;}
	.fullpage-wrap2 .section-b3 {background-color: #1B1C24;}

	ul.ul2,
	dl.dl1 {margin-top: 10px; font-size: 13px; line-height: 20px;}
	ul.ul2 > li,
	dl.dl1 dt {padding-left: 7px;}
	ul.ul2 > li:after,
	dl.dl1 dt:after {width: 2px; height: 2px; top: 9px;}

	.cv4-items {display: block; margin-top: 33px;}
	.cv4-items.col3 {margin-top: 15px;}
	.cv4-items:after {left: 50% !important; right: auto !important; top: 0 !important; bottom: 50px; width: 1px; margin-left: -1px; border-top: 0 none; border-left: 1px dashed #46CBE2; height: auto;}
	.cv4-items .item {width: auto !important; padding: 18px; background-color: #22242D;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	.cv4-items .item + .item {margin-top: 30px;}
	.cv4-items.col4 .item .info-wrap,
	.cv4-items .item .info-wrap {display: block; margin-top: 7px; padding-top: 13px; border-top: 1px solid #707070;}
	.content-in .content-cv4 {padding-top: 52px;}
	.cv4-items .item:after {top:auto !important; left: 50%; bottom: -18px; right: auto; border: 0 none; margin-left: -8px; border-top: 8px solid #46CBE2; border-left: 8px solid transparent; border-right: 8px solid transparent;}
	.cv4-items .item .img {display: inline-block; vertical-align: middle; width: 26px; height: 26px; background-repeat: no-repeat; background-position: 0 0;
		-webkit-background-size: 100%;
		background-size: 100%;
	}
	.cv4-items .item:nth-child(1) .img {background-image: url('../images/sub/cv-banner4-1-m.png');}
	.cv4-items .item:nth-child(2) .img {background-image: url('../images/sub/cv-banner4-2-m.png');}
	.cv4-items .item:nth-child(3) .img {background-image: url('../images/sub/cv-banner4-3-m.png');}
	.cv4-items .item:nth-child(4) .img {background-image: url('../images/sub/cv-banner4-4-m.png');}
	.cv4-items .item .img img {display: none;}
	.cv4-items .item .copy {display: inline-block; margin-top: 0; margin-left: 6px; font-size: 16px; line-height: 1.5em; vertical-align: middle;}
	.cv4-items dl.dl1, ul.ul1 {margin-top: 13px; font-size: 13px; line-height: 20px;}
	.content-in .content-cv1 {padding-top: 100px;}
	.content-in .content-cv3,
	.content-in .content-cv2 {padding-top: 100px; padding-bottom: 100px;}

	.check-line {position: relative; margin-top: 20px; padding-left: 22px;}
	.check-line input[type="checkbox"] {position: absolute; top: 5px; left: 0;}
	.check-line label {font-size: 16px; margin: 0;}
	.check-line span {display: block; margin-top: 5px; font-size: 14px;}
	.introduce .introduce-in .p4.p4-type1 span {display: block; font-size: 13px;}
	.cv4-items.col3 .item {padding-top: 9px; padding-bottom: 9px;}
	.cv4-items.col4 .item .img.img-txt {text-align: left;}
	.cv4-items.col4 .item {padding: 18px;}
	.cv4-items .item .img.img-txt {display: block; width: auto; height: auto; text-align: center; background: none;}
	.cv4-items .item .img.img-txt:after {display: none;}
	.cv4-items .item .img.img-txt .txt {position: static; transform:none; font-size: 16px;}
	.cv4-items .item .img.img-txt .txt span {display: inline;}

	.ex-item {display: none;}
	.ex-item-wrap {position: static;}
	[class*='ex-item-wrap'] .tit-section {bottom: auto; background: none; text-align: left; width: auto; font-size: 20px; line-height: 32px; color: #46CBE2; font-weight: 700;}
	[class*='ex-item-wrap'] .tit-section span {position: static;
		transform:none;
	}
	.cv4-items-cover {position: relative; margin-top: 80px; padding-top: 27px;}
	.cv4-items-wrap {padding-left: 0;}
	.cv4-items.col4 .item .copy {display: block;}
	.ex-item-wrap2 {padding-left: 0;}
	.ex-item-wrap2 .tit-section {position: static;}
	.ex-item-wrap2 ul {margin-top: 10px;}
	.ex-item-wrap2 ul li {width: 50%; vertical-align: top;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.ex-item-wrap2 ul {padding: 10px 15px 10px 15px; background-color: #22242D;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	.ex-item-wrap2 ul li {position: relative; margin-top: 0; padding-left: 8px; font-size: 13px; line-height: 20px;}
	.ex-item-wrap2 ul li:after {content:''; position: absolute; top: 9px; left: 0; width: 2px; height: 2px; background-color: #fff; font-size: 0;}
	.ex-item-wrap2 ul li span {text-align: left; background: none; padding: 0; letter-spacing: 0;}
	.ex-item-wrap2 ul li span em {padding: 0;}
	.diag .pre-line {white-space:pre-line;}

	.qna .introduce-wide {padding-left: 0; padding-right: 0;}
}



@media(max-width:872px){
	.popup-wrap .popup-layer {width:calc(100vw - 40px);max-height:calc(100vh - 60px);border-radius:5px;box-shadow:0 5px 10px rgba(0,0,0, 0.16);overflow:hidden;}
	.popup-wrap .popup-layer .popup-header {height:auto;min-height:70px;padding:20px;}
	.popup-wrap .popup-layer .popup-header h1 {padding: 10px 30px 10px 0;font-size:23px;line-height:32px;}
	.popup-wrap .popup-layer .popup-header .btn-close {top:24px;right:20px;}
	.popup-wrap .popup-layer .popup-content {max-height:calc(95vh - 160px); margin:0 4px 0 0;padding:0 16px 0px 20px;}
	.popup-wrap .popup-layer .popup-content::-webkit-scrollbar {width:3px;border-radius:15px;}
	.popup-wrap .popup-layer .popup-content::-webkit-scrollbar-thumb {border-radius:15px;}
	.popup-wrap .popup-layer.alert {width:290px;}
	.popup-wrap .popup-layer.alert .popup-content {padding:25px 15px 15px 25px;}
	.popup-wrap .popup-layer.alert .alert-msg {line-height:15px;}
	.popup-wrap .popup-layer.alert .alert-msg .msg-tit {margin-bottom:10px;font-size:16px;line-height:15px;}
	.popup-wrap .popup-layer.alert .alert-msg .msg-txt {padding-top:0;font-size:16px;line-height:15px;}
	.popup-wrap .popup-layer.alert .popup-btn {margin-top:20px;text-align:right;}
	.popup-wrap .popup-layer.alert .popup-btn button[class*='btn-type'] + button[class*='btn-type'] {margin-left:10px;}
	.popup-wrap .popup-layer.player .popup-header {height:70px;}
	.popup-wrap .popup-layer.player .popup-header .btn-close {top:24px;right:20px;}
	.popup-wrap .popup-layer.player .popup-content {margin-bottom:30px;}

	.terms-wrap .terms-tit {font-size:16px;line-height:23px;}
	.terms-wrap .terms-stit {font-size:12px;}
	.terms-wrap .terms-txt {font-size:12px;line-height:18px;}
	.terms-wrap .terms-tit + .terms-txt {margin-top:10px;}
	.terms-wrap .terms-stit + .terms-txt {margin-top:6px;}
	.terms-wrap .terms-txt + .terms-txt {margin-top:6px;}
	.terms-wrap .terms-box {margin-bottom:40px;padding:9px 12px;font-size:12px;line-height:18px;}
	.terms-wrap .terms-box strong {margin-bottom:2px;}
	.terms-wrap .terms-tb thead th,
	.terms-wrap .terms-tb tbody td {padding:5px 2px;font-size:12px;}
	.terms-wrap .terms-tb .ta-l {padding-left:10px;}
}
@media(max-width:767px){
	.type-alert {padding: 25px 15px 15px 25px; min-width:250px;}
	.qna-btns.qna-btns-s .btn {line-height: 20px; padding: 0 10px; font-size: 13px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	.qna-btns.qna-btns-s .btn + .btn {margin-left: 6px;}

	.content-in .content-cv1 {padding-bottom: 80%; padding-bottom: 100%;}
	.img-bottom > span {padding-top: 92%; background: url('../images/sub/cv-banner1-m.png') right 0 no-repeat;
		-webkit-background-size: ;
		background-size: auto 100%;
	}
	.img-bottom img {display: none;}
	img.wide {display: none;}
	img.mobi {display: inline;}
	.content-in .content-cv2 .img {margin-top: 35px;}

	.type-alert .alert1 {font-size: 17px; line-height: 1.5em;}
	.type-alert .alert2 {font-size: 15px; line-height: 1.5em;}
	.type-alert [class*='btn-type'] {height: 30px; min-width:100px;}
	.type-alert [class*='btn-type'] span,
	.type-alert [class*='btn-type'] i {line-height: 30px;}
	.btn-mr {text-align: right; padding-left: 0; margin-top: 12px;}

	.diag {max-width:555px; padding-bottom: 63px;}
	.diag .des1:after, .diag .des2:after {display: none;}
	.diag .des1, .diag .des2 {position: static; margin: 0;}
	.diag .des {overflow: hidden; margin-top: 13px;}
	.diag .des > * {float: left; width: 50%; text-align: center; font-size: 13px; line-height: 20px;}

}
@media(max-width:640px) {
	.btn-type01.square {width: 100%;}
	.movie .movie-in .play:after {width: 50px; height: 50px;}
}

/* 추가 */
.agenda-list table td.subject .td-btn a {color: #46CBE2; font-size: 14px;}
.reply .re-item {padding-left: 137px; background-color: #21222C;}
.reply .item + .item,
.reply .item ~ .item {border-top: 1px solid #434447;}
.reply .item .reply-head .re-btn-line {margin-left: 33px;}
.reply .item .reply-head .re-btn-line > a {position: relative; display: inline-block; color: #C0C5CC;}
.reply .item .reply-head .re-btn-line > a:not(:first-child) {padding-left: 16px; margin-left: 13px;}
.reply .item .reply-head .re-btn-line > a:not(:first-child):after {content:''; position: absolute; top: 50%; left: 0; height: 10px; width: 1px; margin-top: -5px; background-color: #707070;}
.reply .re-item .reply-input textarea {background-color: #323341;}
.reply .item .reply-input textarea::-webkit-input-placeholder {color: #E9E9E9;}
.reply .item .reply-input textarea:-moz-placeholder {color: #E9E9E9;}
.reply .item .reply-input textarea::-moz-placeholder {color: #E9E9E9;}
.reply .item .reply-input textarea:-ms-input-placeholder {}
.reply .item .reply-input textarea::-ms-input-placeholder {}
.reply .item .reply-input textarea:-ms-placeholder {color: #E9E9E9;}
.reply .item .reply-input textarea:placeholder {color: #E9E9E9;}
.reply .re-item .reply-input,
.reply .re-item .qna-btns-r {margin-right: 30px;}
.reply .re-item .qna-btns-r {margin-top: 14px;}

@media(max-width:1024px) {
	.reply .item .reply-head .re-btn-line {margin-left: 20px; font-size: 14px;}
	.reply .item .reply-head .re-btn-line > a:not(:first-child) {padding-left: 8px; margin-left: 6px;}
	.reply .re-item {padding-left: 40px;}
	.reply .re-item .reply-input,
	.reply .re-item .qna-btns-r {margin-right: 0;}
	.reply .re-item .qna-btns-r {margin-top: 10px;}
}
@media(max-width:640px) {
	.reply .item .reply-head .re-btn-line {position: absolute; top: 0; right: 0;}
	.reply .item .reply-head .re-btn-line > a {color: #46CBE2;}
}