@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
canvas{ display: inline-block; vertical-align: baseline;}
html {height:100%;}
body{/*width:100%;height:100%;*/}
body{ font-size:16px; color:#444; -webkit-text-size-adjust:none}
body, input, textarea, select, button, table { font-family:'나눔고딕',NanumGothic,'맑은고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif}
fieldset,img{border:0 none;vertical-align:top}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
a{color:#333;text-decoration:none; background: transparent;}
a:focus,a:active,a:hover{color:#333; text-decoration:none}
a:active,a:hover {outline: 0;}
table{border-collapse:collapse;border-spacing:0}
th,td{padding:0}
hr{display:none}
img { vertical-align:middle;}
legend, .blind {overflow:hidden;position:absolute;top:0;left:0;width:1px !important;height:1px;font-size:0;line-height:100px;white-space:nowrap;}
caption {position:static; width:auto; height:auto; line-height:0;}
caption span {position:absolute; top:-9999em; left:-9999em;}

h1 {font-size:16px;}

h1,h2,h3,h4,h5,h6 {font-weight:normal;}

body {line-height:1.4em;
	-webkit-user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.br {display:block;}

.fl { float:left;}
.fr { float:right;}

.tal {text-align:left !important;}

#skip {height:0}
#skip a{display:block;position:absolute;left:0;top:-100px;width:100%;height:1px;text-align:center}
#skip a:focus,#skip a:active{position:absolute;top:0;z-index:120;height:25px;padding:10px 0;background:#ec5a49;font-weight:bold;color:#fff;font-size:1.4em;text-decoration:none}

/* CSS Sprite */

/* Layout */
	
/* form-input */
	
	input[type="text"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="file"],
	input[type="date"],
	input[type="datetime-local"],
	input.date,
	input[type="tel"],
	input[type="email"]{ 
		-webkit-appearance:none; 
		border:1px #d4d6d9 solid; 
		border-radius:0;
		color:#666; 
		padding:4px 5px 3px;
		height:40px;
		background:#fff; 
		display:inline-block;
		vertical-align:middle; 
		font-size:1em;
		/*width:100%;*/
		-webkit-box-shadow:0 0 3px 1px #ecf0f2 inset;
		box-shadow:0 0 3px 1px #ecf0f2 inset;
	}

	textarea::-webkit-input-placeholder , input::-webkit-input-placeholder { color:#a9a9a9;}
	textarea:-ms-input-placeholder , input:-ms-input-placeholder { color:#a9a9a9;}
	textarea::-moz-placeholder , input::-moz-placeholder { color:#a9a9a9;}
	
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button { height:auto;}
	input[disabled] { cursor:default; border:1px #B5B5B5 solid; color:#666; background:#F3F3F3;}
	.disabled { color:#999;}

	input[disabled] {border:1px solid #d4d6d9; background-color:#f2f6f9; color:#a7b6c1;}
		
	input[type="checkbox"], input[type="radio"] {-webkit-appearance:none; border-radius:0; border:none; vertical-align:middle;}
	
/* form-file */	
	input[type="file"]::-ms-value { background:#fff; border:0; border-radius:4px; width:100%;}
	input[type="file"] { padding:5px 8px;}
	
/* form-select */
	select::-ms-expand { display:none;}
	select { color:#666; border:1px #B5B5B5 solid; overflow:hidden; border-radius:4px; padding:6px 5px 6px 5px; vertical-align:middle; width:100%;}
	select[disabled] { cursor:default; color:#666; background-color:#F3F3F3 !important;}
	
/* form-textarea */
textarea { -webkit-appearance:none; width:100%; min-height:60px; overflow:auto; border-radius:4px; border:1px #B5B5B5 solid; padding:6px 8px 5px; color:#666; line-height:20px;}
textarea.textarea {overflow:auto; border-radius:0; border:1px solid #d4d6d9; font-size:1em;
	-webkit-box-shadow:0 0 3px 1px #ecf0f2 inset;
	box-shadow:0 0 3px 1px #ecf0f2 inset;
}
	
/* form-button */
	
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] { overflow:visible; cursor:pointer; background:#fff; border:1px #999 solid; padding:7px 10px 6px; border-radius:3px;	color:#444;	vertical-align:middle;}
	button[disabled] { cursor:default; border:1px #ddd solid !important; color:#aaa !important;}

	button {padding:0; -webkit-border-radius:0; border-radius:0; font-size:1em;}

	input[type="button"] {color:#fff; border:0 none;
		-webkit-border-radius:0;
		border-radius:0;
	}

@media screen and (-webkit-min-device-pixel-ratio:1.5){
}

/* select */
.select select {border:1px solid #d4d6d9; padding:2px 17px 2px 5px; height:40px; text-indent:0.01px; text-overflow:''; font-size:1em; background:#fff url('../images/bg_select1.png') no-repeat 100% center;
	-webkit-border-radius:0;
	border-radius:0;
	-webkit-appearance:none;
	-moz-appearance:none;
}
@-moz-document url-prefix() {.select select {padding-right:0;}}
.select select::-ms-expand {display: none;}

.cfix:after {content:''; display:block; clear:both; overflow:hidden;}

/* box-sizing */
body,
body *,
.box {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
th, td {-webkit-box-sizing:content-box !important;-moz-box-sizing:content-box !important;box-sizing:content-box !important;}

/* 줄바꿈 */
.categoryList li a > .txt,
.sublist ul li a > .txt .tit,
.textover {overflow:hidden;white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; display:block;}

/* 2줄 바꿈 */
.albumList li a .tit,
.eduList_box .recommend ul a span {white-space:normal;
	overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; box-orient: vertical; word-wrap:break-word;
}

/* 버튼 */
.buttonBtn {display:inline-block; padding:0 44px; width:100%; height:50px; line-height:50px; color:#fff; font-weight:bold; border-color:#eb5444; background-color:#eb5444;}
.buttonBtn.btnType1 {color:#2f2729; border-color:#dee0e5; background-color:#fff;}
.buttonBtn.btnType1 span {color:#3077c0;}
.buttonBtn.btnType1 span.view {color:#2f2729 !important;}
.colorCode2 .buttonBtn.btnType1 span {color:#55be8e;}
.colorCode3 .buttonBtn.btnType1 span {color:#dc5d4c;}
.colorCode4 .buttonBtn.btnType1 span {color:#965de3;}
.colorCode5 .buttonBtn.btnType1 span {color:#fcb83a;}

.buttonBtn.btnType2 {border-color:#3077c0; background-color:#3077c0;}
.colorCode2 .buttonBtn.btnType2 {border-color:#55be8e; background-color:#55be8e;}
.colorCode3 .buttonBtn.btnType2 {border-color:#dc5d4c; background-color:#dc5d4c;}
.colorCode4 .buttonBtn.btnType2 {border-color:#965de3; background-color:#965de3;}
.colorCode5 .buttonBtn.btnType2 {border-color:#fcb83a; background-color:#fcb83a;}

.wrap {position:relative;}

/* 메인 콘텐츠 */

/* 하단 영역 */
.bottom {border-top:1px solid #d3d5dd; position:relative; line-height:1em;}
.listStyle .bottom {z-index:1; background-color:#fff;}
.main .bottom {display:table-row; margin-top:-1px;}
footer {overflow:hidden; padding:17px 30px;}
footer .info {float:left; padding-top:5px; font-size:0.9em; vertical-align:top;}
footer .info .center {font-size:1.2em; display:table; float:left;}
footer .info .center * {vertical-align:top; display:table-cell; line-height:1em;}
footer .info .center > span {font-size:0.8em;}
footer .info .center > a {font-size:1.7em; color:#2e96db;}
.colorCode2 footer .info .center > a {color:#55be8e;}
.colorCode3 footer .info .center > a {color:#dc5d4c;}
.colorCode4 footer .info .center > a {color:#965de3;}
.colorCode5 footer .info .center > a {color:#fcb83a;}

footer .info .error {margin-left:16px;}
footer .info .time {float:left; border-left:1px solid #c9c9ca; padding-left:14px; margin-left:9px;}
footer .info .time .lb {display:block;}
footer .info .time .copyright {display:none;}
footer .info .code {display:none;}
footer .code {float:right;}

footer .code .button {border:0 none; padding:5px 15px; background-color:#484848; color:#fff; font-size:0.85em;
	-webkit-border-radius:15px;
	border-radius:15px;
}
footer address {float:right; padding:10px 10px 0 0; text-transform:uppercase; font-size:0.75em;}

.bottomLine {display:none;}
.main .bottomLine {display:block; height:1px; font-size:0; background-color:#d3d5dd;}

.goTop {display:none; position:fixed; right:0; bottom:25px;}
.goTop a {display:block; width:70px; height:70px; background:url('../images/community/sub/bg_scrollTop.png') 0 0 no-repeat;
	background-size:100% 100%;
}
.goTop span {display:none;}

.shadow {background:url('../images/community/sub/bg_shadow2.png') 0 0 repeat-x;}

.mask {position:absolute; z-index:3; top:0; left:0; right:0; bottom:0; height:100%; background-color:#000; opacity:0.5;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

td textarea {display:block;}

.popup_layer {display:none; position:absolute; z-index:4; top:50px; left:50%; width:490px; background-color:#fff;
	-webkit-border-radius:10px;
	border-radius:10px;
	-webkit-transform: translate3d(0, 0, 0);  transform: translate3d(0, 0, 0);
}
.popup_layer .pTit {padding:9px 0 8px; color:#fff; font-size:1.375em; line-height:1.5em; text-align:center; background-color:#3077c0;
	-webkit-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
}
.colorCode2 .popup_layer .pTit {background-color:#55be8e;}
.colorCode3 .popup_layer .pTit {background-color:#dc5d4c;}
.colorCode4 .popup_layer .pTit {background-color:#965de3;}
.colorCode5 .popup_layer .pTit {background-color:#fcb83a;}

.popup_layer .pCon {}
.popup_layer .pCon .copy {display:table; border-bottom:1px solid #ebecef; padding:17px 20px 15px 20px; width:100%; background-color:#fbfcfd;}
.popup_layer .pCon .copy span {display:table-cell; vertical-align:top; line-height:1.4em;}
.popup_layer .pCon .copy span.q {padding-right:10px; color:#3077c0; font-weight:bold;}
.colorCode2 .popup_layer .pCon .copy span.q {color:#55be8e;}
.colorCode2 .popup_layer .pCon .copy span.q {color:#dc5d4c;}
.colorCode2 .popup_layer .pCon .copy span.q {color:#965de3;}
.colorCode2 .popup_layer .pCon .copy span.q {color:#fcb83a;}
.popup_layer .pCon .copy span.txt {}

.popup_layer .pCon .searchFieldWrap {padding:10px;}
.popup_layer .pCon .searchField {display:table; padding:0 0 5px 0; width:100%;}
.popup_layer .pCon .searchField div {display:table-cell; width:70%;}
.popup_layer .pCon .searchField div.sel {padding-right:5px; width:30%;}
.popup_layer .pCon .searchField div.itxt input {width:100%;}

.popup_layer .pCon .searchResult {overflow:hidden; border-top:1px solid #d4d8de; padding:10px;}

.rTable {overflow-x:hidden; overflow-y:auto; border-top:1px solid #ccd0d7; height:200px;
	-webkit-overflow-scrolling:touch;
}
.rTable table {width:100%; table-layout:fixed; border-collapse:collapse;}
.rTable table th,
.rTable table td {padding:13px 10px; border:1px solid #ccd0d7; line-height:1.3em;}
.rTable table th:first-child {width:25%;}
.rTable table th {color:#333e52; border-top:0 none; background-color:#ebeef3;}
.rTable table td {color:#555; text-align:center; background-color:#fbfcfd;}

.popup_layer .close {position:absolute; top:10px; right:10px;}
.popup_layer .close button {border:0 none; width:32px; height:32px; background:url('../images/community/sub/bg_close.png') center center no-repeat;
	background-size:100% 100%;
}
.popup_layer .close button span {display:none;}

/* 더보기 */
.moreBtn {position:relative; background-color:#fff; border:1px solid #dee0e5;}
.moreBtn a {display:block; padding:10px 0; text-align:center; font-size:1.15em; color:#2f2729;}
.moreBtn a span {display:inline-block; vertical-align:middle; margin-right:10px; width:36px; height:36px; background:url('../images/community/sub/bg_more.png') 0 0 no-repeat;
	background-size:100% 100%;
}
.moreBtn a span.moreLast {width:1px; background-image:none;}
.moreBtn .count {position:absolute; top:15px; right:20px; color:#8fa0b7; font-size:1.15em;}
.moreBox em,
.moreBtn .count em {color:#4f8ece;}

.colorCode2 .moreBox em,
.colorCode2 .moreBtn .count em {color:#2cb375;}
.colorCode3 .moreBox em,
.colorCode3 .moreBtn .count em {color:#d66f6f;}
.colorCode4 .moreBox em,
.colorCode4 .moreBtn .count em {color:#8d6fd6;}
.colorCode5 .moreBox em,
.colorCode5 .moreBtn .count em {color:#eba00f;}

h2.h2 {border:1px solid #e8ebf0; padding:15px 0 15px 46px; font-size:1.125em; font-weight:bold; background:#fff url('../images/community/sub/bg_h2.png') 15px center no-repeat;
	box-shadow:0 0 3px 0 #e8ebf0;
}
.colorCode2 h2.h2 {background-image:url('../images/community/sub/bg_h2_b.png');}
.colorCode3 h2.h2 {background-image:url('../images/community/sub/bg_h2_c.png');}
.colorCode4 h2.h2 {background-image:url('../images/community/sub/bg_h2_d.png');}
.colorCode5 h2.h2 {background-image:url('../images/community/sub/bg_h2_e.png');}

/* community box */
.wrap {font-size:1.25em;}

/* 개별커뮤니티 메인 */
.communityWrap {position:relative;}

.communityWrap .head {position:fixed; z-index:1; top:0; left:0; right:0; height:54px; background-position:top;
	-webkit-background-size:cover;
	background-size:cover;
}
.communityWrap .headIn {position:relative; z-index:1; padding:0 70px;}
.communityWrap .headIn h1 {display:none; height:54px; line-height:54px; text-align:center; font-size:1.5em; color:#fff;}
.communityWrap .headIn h1.view {display:block;}
.communityWrap .headIn .btnClose {position:absolute; z-index:1; top:8px; right:8px;}
.communityWrap .visual .bg,
.communityWrap .head .bg {position:absolute; top:0; right:0; bottom:0; left:0; background-color:#000; opacity:0.5;}

.communityWrap .headIn .btnClose button {border:0 none; width:38px; height:38px; background:transparent url('../images/community/sub/bg_close.png') no-repeat center center;
	-webkit-background-size:cover;
	background-size:cover;
}
.communityWrap .headIn .btnClose button span {display:none;}

.communityWrap .visual {position:fixed; z-index:-1; top:0; left:0; right:0; height:300px; background-position:top;
	-webkit-background-size:cover;
	background-size:cover;
}

.communityWrap .visual .txtbox {position:absolute; z-index:1; left:20px; bottom:20px; color:#fff; line-height:1.3em;}
.communityWrap .visual .txtbox .tit {font-size:1.875em; line-height:1.5em;}
.communityWrap .visual .txtbox .master {}
.communityWrap .visual .txtbox .people {}
.communityWrap .visual .txtbox .day {padding:0 0 10px 0;}
.communityWrap .visual .txtbox a {display:inline-block; color:#fff; width:100px; padding:7px 0; border:2px solid #fff; text-align:center;}

.conbox {background-color:#ebeef3;}
.conboxMain {position:relative; margin-top:300px;}
.conboxSub {position:relative; margin-top:54px; min-height:640px;}

.tabmenu {border-bottom:1px solid #c4ccd3;}
.tabmenu ul {overflow:hidden;}
.tabmenu ul li {float:left; width:25%; background-color:#fff;}
.tabmenu ul li a {display:block; padding:14px 0 11px; text-align:center; color:#566c7e; font-size:1.125em; border-bottom:3px solid #fff; background:url('../images/community/sub/bg_line.png') no-repeat 0 center;}
.tabmenu ul li.on a {color:#3077c0; font-weight:bold; border-bottom-color:#3077c0;}

.colorCode2 .tabmenu ul li.on a {color:#2cb375; border-bottom-color:#2cb375;}
.colorCode3 .tabmenu ul li.on a {color:#d66f6f; border-bottom-color:#d66f6f;}
.colorCode4 .tabmenu ul li.on a {color:#8d6fd6; border-bottom-color:#8d6fd6;}
.colorCode5 .tabmenu ul li.on a {color:#eba00f; border-bottom-color:#eba00f;}
.tabmenu ul li:first-child a {background-image:none;}

.conboxMain .sublist {padding:15px; min-height:340px;}
.conboxSub .sublist {padding:15px;}
.sublist ul {border:1px solid #e3e6ea; background-color:#fff;
	-webkit-box-shadow:0 0 3px 0 #e3e6ea;
	box-shadow:0 0 3px 0 #e3e6ea;
}
.sublist ul li {border-top:1px solid #e5e8ec;}
.sublist ul li a {display:table; table-layout:fixed; padding-right:40px; width:100%; background:url('../images/community/sub/bg_arrowr.png') 100% center no-repeat;}
.sublist ul li a > .nBox,
.sublist ul li a > .pic,
.sublist ul li a > .txt,
.sublist ul li a > .new {display:table-cell; vertical-align:middle;}
.sublist ul li a > .pic {width:100px;}
.sublist ul li a > .pic img {width:100px; height:100px; margin-top:-1px; margin-bottom:-1px;}
.sublist ul li a > .txt {padding:15px; width:100%;}
.sublist ul li a > .txt .tit {padding:0 0 3px 0;}
.sublist ul li a > .txt .info {padding:3px 0 0 0; font-size:0.875em;}

.sublist ul li a > .nBox {width:67px; text-align:right;}
.sublist ul li a > .nBox span {display:inline-block; padding:3px 10px; background-color:#3077c0; color:#fff; font-size:0.875em;
	-webkit-border-radius:12px;
	border-radius:12px;
}
.colorCode2 .sublist ul li a > .nBox span {background-color:#2cb375;}
.colorCode3 .sublist ul li a > .nBox span {background-color:#e14f3c;}
.colorCode4 .sublist ul li a > .nBox span {background-color:#684dad;}
.colorCode5 .sublist ul li a > .nBox span {background-color:#ffbb38;}

.sublist ul li a > .txt .info span {color:#3077c0;}
.colorCode2 .sublist ul li a > .txt .info span {color:#2cb375;}
.colorCode3 .sublist ul li a > .txt .info span {color:#e14f3c;}
.colorCode4 .sublist ul li a > .txt .info span {color:#684dad;}
.colorCode5 .sublist ul li a > .txt .info span {color:#ffbb38;}

.sublist ul li a > .new {width:32px;}
.sublist ul li a > .new span {display:inline-block; width:32px; height:32px; line-height:32px; text-align:center; border:1px solid #eb5444; background-color:#eb5444; color:#fff;
	-webkit-border-radius:50% 50% 50% 3px;
	border-radius:50% 50% 50% 3px;
}

.sublist .moreBtn {margin-top:9px;}

.hWrap h2.h2 {border-bottom:0 none;}

/* 검색 */
.searchbox {overflow:hidden; padding:10px 15px; background-color:#fff;}
.searchbox [class^='field'] {float:left; padding-right:10px;}
.searchbox .field1 {width:19%;}
.searchbox .field1 .select select {height:50px;}
.searchbox .field2 {width:69%;}
.searchbox .field2 input {height:50px; width:100%;}
.searchbox .field3 {width:12%; padding-right:0;}
.searchbox .field3 button {padding:0;}

/* 목록 */
.consubcon {padding:15px;}
.consubcon.album {padding:15px 0;}
.categoryList {background-color:#fff;}
.categoryList li {border-top:1px solid #e5e8ec;}
.categoryList li a {display:table; table-layout:fixed; padding-right:40px; width:100%; background:url('../images/community/sub/bg_arrowr.png') 100% center no-repeat;}
.categoryList li.other {background-color:#fafcfd;}
.categoryList li a > .txt,
.categoryList li a > .new {display:table-cell; vertical-align:middle;}
.categoryList li a > .txt {padding:12px 15px 12px 46px; font-size:1.125em; font-weight:bold; background:url('../images/community/sub/bg_h2.png') 15px center no-repeat;}
.colorCode2 .categoryList li a > .txt {background-image:url('../images/community/sub/bg_h2_b.png');}
.colorCode3 .categoryList li a > .txt {background-image:url('../images/community/sub/bg_h2_c.png');}
.colorCode4 .categoryList li a > .txt {background-image:url('../images/community/sub/bg_h2_d.png');}
.colorCode5 .categoryList li a > .txt {background-image:url('../images/community/sub/bg_h2_e.png');}
.categoryList li.other a > .txt {background-image:url('../images/community/sub/bg_h2_a1.png');}
.colorCode2 .categoryList li.other a > .txt {background-image:url('../images/community/sub/bg_h2_a2.png');}
.colorCode3 .categoryList li.other a > .txt {background-image:url('../images/community/sub/bg_h2_a3.png');}
.colorCode4 .categoryList li.other a > .txt {background-image:url('../images/community/sub/bg_h2_a4.png');}
.colorCode5 .categoryList li.other a > .txt {background-image:url('../images/community/sub/bg_h2_a5.png');}
.categoryList li a > .new {width:32px;}
.categoryList li a > .new span {display:inline-block; width:32px; height:32px; line-height:32px; text-align:center; border:1px solid #eb5444; background-color:#eb5444; color:#fff;
	-webkit-border-radius:50% 50% 50% 3px;
	border-radius:50% 50% 50% 3px;
}

/* 목록보기 */
.listView {border:1px solid #e3e6ea; background-color:#fff;
	-webkit-box-shadow:0 0 3px 0 #e3e6ea;
	box-shadow:0 0 3px 0 #e3e6ea;
}
.listView h2.h2 {border-left:0 none; border-right:0 none;}
.listView .listViewHead {padding:13px 20px 17px;}
.listView .listViewHead .tit {font-size:1.375em; line-height:1.5em; color:#333;}
.listView .listViewHead .info {font-size:0.875em; color:#818b9c;}
.listView .viewArea {border-top:1px solid #e5e8ec; padding:15px 20px; min-height:370px; line-height:1.5em;}
.listView .addFile {border-top:1px solid #e5e8ec; padding:10px;}
.listView .addFile div {border:1px solid #d4d6d9; padding:8px 10px; line-height:1.5em; color:#35363f; font-size:0.875em; background-color:#f4f7fd;}
.listView .addFile div a {margin-left:10px; margin-right:5px;}
.listView .addFile div span.mg {color:#999;}

.btnLine {display:table; table-layout:fixed; padding:10px 0 0 0; width:100%;}
.btnLine [class^='btn'] {display:table-cell;}
.btnLine [class^='btn'] button {padding:0;}
.btnLine .btn1 {padding-right:5px;}
.btnLine .btn2 {padding-left:5px;}

.goList {display:table; table-layout:fixed; padding:10px 0 0 0; width:100%;}
.goList .t {display:none;}
.goList [class^='btn'] {display:table-cell;}
.goList [class^='btn'] button {width:100%; border:1px solid #a2b4c4; height:56px;}
.goList .btn1,
.goList .btn3 {width:56px;}
.goList .btn1 button,
.goList .btn3 button {background:#fff url('../images/community/sub/bg_arrowl1.png') center center no-repeat;}
.goList .btn3 button {background-image:url('../images/community/sub/bg_arrowr1.png');}
.goList .btn2 {padding:0 10px;}
.goList .btn2 span {font-size:1.125em; color:#576c7d; padding-left:34px; background:url('../images/community/sub/bg_list.png') 0 center no-repeat;}

.survey .goList .btn2 {padding:0;}

.replybox {border:1px solid #e3e6ea; margin-top:20px; background-color:#fff;
	-webkit-box-shadow:0 0 3px 0 #e3e6ea;
	box-shadow:0 0 3px 0 #e3e6ea;
}
.replybox .replyHead {color:#444; padding:0 0 0 53px; line-height:3em; font-weight:bold; background:url('../images/community/sub/bg_reply.png') 15px center no-repeat;}
.replybox .replyHead span {color:#eb5444; font-weight:normal;}
.replybox .replySearch {display:table; border-top:1px solid #d4d8de; padding:10px; width:100%; table-layout:fixed;}
.replybox .replySearch div {display:table-cell;}
.replybox .replySearch div.input {}
.replybox .replySearch div.input input {width:100%;}
.replybox .replySearch div.btn {width:128px; padding-left:5px;}
.replybox .replySearch div.btn .buttonBtn {padding:0; height:40px; line-height:40px;}

.replybox .replyLine {border-top:1px solid #e5e8ec; padding:11px 0 10px;}
.replybox .replyLine .pinfo {padding:0 18px; line-height:2.2em; font-weight:bold; color:#444;}
.replybox .replyLine .pinfo span {font-weight:normal; color:#818b9c; font-size:0.875em;}
.replybox .replyLine .pinfo span.bar {margin:0 10px;}
.replybox .replyLine .ptxt {padding:0 18px 8px; line-height:1.7em; font-size:0.875em; color:#555;}
.replybox .replyLine .pbtn {padding:0 18px;}
.replybox .replyLine .pbtn .btnType1 {color:#818b9c; padding:0 15px; height:32px; width:auto; line-height:32px; font-size:0.875em;}
.replybox .replyLine .modify {display:table; padding:0 10px; width:100%; table-layout:fixed;}
.replybox .replyLine .modify .input {}
.replybox .replyLine .modify .input input {width:100%;}
.replybox .replyLine .modify [class^='btn'] {display:table-cell;}
.replybox .replyLine .modify [class^='btn'] button {padding:0; height:40px; line-height:40px;}
.replybox .replyLine .modify .btn1 {padding-left:4px; width:74px;}
.replybox .replyLine .modify .btn2 {padding-left:4px; width:94px;}

/* 앨범목록 */
.album h2.h2 {margin:0 20px;}
.album .moreBtn {margin:5px 20px 0;}
.albumList {overflow:hidden; margin-top:10px; padding:0 17px 0 16px;}
.albumList li {float:left; padding:0 3px 5px 4px; width:33.3%;}
.albumList li a {display:block; border:1px solid #e2e5e9; background-color:#fff;
	box-shadow:0 0 3px 0 #e2e5e9;
}
.albumList li a .pic {height:207px;}
.albumList li a .pic img {width:100%; height:100%;}
.albumList li a .txt {position:relative; padding:16px 13px;}
.albumList li a .tit {height:60px; font-size:1.125em; font-weight:bold; color:#222; line-height:1.35em;}
.albumList li.new a .tit {padding-right:40px;}
.albumList li a .info {padding-top:4px; font-size:0.875em; color:#818b9c;}
.albumList li a .info span {color:#3077c0;}
.albumList li a .new {position:absolute; top:10px; right:10px; display:table;}
.albumList li a .new span {display:table-cell; vertical-align:middle; text-align:center; color:#fff; width:32px; height:32px; border:1px solid #eb5444; background-color:#eb5444;
	-webkit-border-radius:50% 50% 50% 3px;
	border-radius:50% 50% 50% 3px;
}
.colorCode2 .albumList li a .info span {color:#55be8e;}
.colorCode3 .albumList li a .info span {color:#dc5d4c;}
.colorCode4 .albumList li a .info span {color:#965de3;}
.colorCode5 .albumList li a .info span {color:#fcb83a;}

/* 앨범보기 */
.albumView {}
.albumView .photo {border-top:1px solid #e5e8ec; padding:10px; text-align:center; background-color:#f6f8f9;}
.albumView .photo p {padding:10px;}
.albumView .photo img {max-width:100%;}
.albumView .txt {border-top:1px solid #e5e8ec; padding:15px 20px; line-height:1.5em;}

/* 글쓰기 */
.requestForm .table_form {
	-webkit-box-shadow:0 0 5px 1px #e3e6ea;
	box-shadow:0 0 5px 1px #e3e6ea;
}
.w100p {width:100%;}
.blind2 {overflow:hidden;position:absolute;top:0;left:-999em;width:1px;height:1px;font-size:0;line-height:100px;white-space:nowrap;}
.table_form table {width:100%; border-bottom:1px solid #d4d8de;}
.table_form thead th {}
.table_form tbody th {padding:5px 5px 5px 20px; border-top:1px solid #d4d8de; white-space:nowrap; text-align:left;}
.table_form tbody td {border-top:1px solid #d4d8de; padding:5px 5px 5px 0; height:40px;}
.requestForm .table_form tbody td.formSet {padding-bottom:10px;}
.requestForm .table_form tbody td.formSet div label {font-size:0.8125em;}

.requestForm .table_form table {background-color:#fff;}
.requestForm .table_form tbody th {width:112px;}
.requestForm .list3 {padding-top:5px;}
.requestForm .list3 li {color:#999; font-size:0.85em;}
.requestForm .countbox {padding-top:5px; color:#333e52; line-height:1.6em;}
.requestForm .countbox span {color:#f0675c;}
.fileList > p {position:relative; margin-top:4px; border:1px solid #d5d6da; padding:12px 40px 12px 15px; font-size:0.85em; background-color:#f4f7fe;}
.fileList > p .name {word-wrap:break-word; word-break:break-all;}
.fileList > p button {position:absolute; top:12px; right:12px; overflow:hidden; display:inline-block; width:20px; height:20px; border:0 none; background:url('../images/community/sub/bg_file_del.png') center center no-repeat;}
.fileList > p button span {text-indent:-999em; line-height:10em;}

.labelBtn {display:inline-block; width:100%; height:40px; line-height:40px; color:#fff; text-align:center; background-color:#eb5345;}

/* 설문 */
.survey {padding:15px 15px 20px 15px;}
.survey .moreBtn {margin-top:10px;}
.survey .hWrap {overflow:hidden; border:1px solid #e8ebf0; padding:5px 15px 5px 0; background-color:#fff;
	-webkit-box-shadow:0 0 3px 0 #e8ebf0;
	box-shadow:0 0 3px 0 #e8ebf0;
}
.survey .hWrap h2.h2 {float:left; border:0 none; background-color:transparent;
	-webkit-box-shadow:initial;
	box-shadow:initial;
}
.survey .hWrap .btn {float:right; width:110px;}
.survey .hWrap .btn button {padding:0;}
.surveyList {border:1px solid #e3e6ea; border-top:0 none;}
.surveyList li {border-top:1px solid #e5e8ec; background-color:#fff;}
.surveyList li:first-child {background:#fff url('../images/community/sub/bg_shadow2.png') 0 0 repeat-x;}
.surveyList li .item {display:table; width:100%; padding:0 15px;}
.surveyList li .item .con,
.surveyList li .item .btn {display:table-cell; vertical-align:middle;}

.surveyList li .item .con {padding:11px 10px 14px 0;}
.surveyList li .item .con .tit {line-height:1.5em;}
.surveyList li .item .con span {display:inline-block; color:#fff; font-size:0.875em; padding:0 0.4375em; font-weight:bold; vertical-align:top; text-align:center; width:80px;
	-webkit-border-radius:15px;
	border-radius:15px;
}
.surveyList li .item .con span.status {background-color:#3077c0;}
.colorCode2 .surveyList li .item .con span.status {background-color:#55be8e;}
.colorCode3 .surveyList li .item .con span.status {background-color:#dc5d4c;}
.colorCode4 .surveyList li .item .con span.status {background-color:#965de3;}
.colorCode5 .surveyList li .item .con span.status {background-color:#fcb83a;}

.surveyList li .item .con span.status1 {background-color:#ccc;}

.surveyList li .item .con .period {color:#7a8083; line-height:1.6em;}

.surveyList li .item .btn {width:110px;}
.surveyList li .item .btn button {padding:0;}

.calWrap {}
.calWrap span {}
.calWrap span input.text {
	-webkit-box-shadow:initial;
	box-shadow:initial;
}
.calWrap span button {border-left:0 none; width:40px; height:40px; border-color:#d4d6d9; background:#ebeef3 url('../images/community/sub/bg_cal.png') no-repeat center center;}
.calWrap span.bar {text-align:center;}
.ui-datepicker {border:1px solid #ccc; background-color:#fff;}

.answerList {}
.answerList .answerbox {display:table; width:100%; margin-top:5px;}
.answerList .answerbox:first-child {margin-top:0;}
.answerList .answerbox span {display:table-cell;}
.answerList .answerbox span.num {text-align:center; width:50px;}
.answerList .answerbox span input.text {width:100%;}
.checkWrap div {padding-bottom:5px;}

input.checkbox {border:1px solid #d4d6d9; width:30px; height:30px; margin-right:8px; vertical-align:middle; background:url('../images/community/sub/bg_check_off.png') center center no-repeat;}
input.checkbox:checked {background-image:url('../images/community/sub/bg_check_on.png');}

input.radio {width:30px; height:30px; margin-right:5px; vertical-align:middle; background:url('../images/community/sub/bg_radio_off.png') no-repeat center center;
	background-size:25px 25px;
}
input.radio:checked {background-image:url('../images/community/sub/bg_radio_on.png');}

input + label {vertical-align:middle;}

.btnLineType1 {padding:10px 5px; background-color:#fff;}
.btnLineType1 div {padding:0 5px;}

.poll {border-top:1px solid #ebecef; padding:17px 20px; background-color:#fff;}
.poll .tit {color:#333e52; font-weight:bold;}
.polltext {padding:17px 10px;}
.polltext .tit {padding:0 10px 5px;}
.pollList {padding:10px 0 3px; line-height:2em;}

.poll .otherField {}
.poll .otherField input.text {width:100%;}
.poll.graph {border-top:0 none;}

.graphbox {padding:15px 0 0 0;}
.graphbox .item {overflow:hidden; padding-top:15px; line-height:1.2em;}
.graphbox .item:first-child {padding-top:0;}
.graphbox .item.highlight {font-weight:bold;}
.graphbox .item .txt {float:left; color:#333;}
.graphbox .item .per {float:right; color:#333; font-size:0.875em;}
.graphbox .item.highlight .per {color:#3077c0;}
.colorCode2 .graphbox .item.highlight .per {color:#55be8e;}
.colorCode3 .graphbox .item.highlight .per {color:#dc5d4c;}
.colorCode4 .graphbox .item.highlight .per {color:#965de3;}
.colorCode5 .graphbox .item.highlight .per {color:#fcb83a;}
.graphbox .item .bar,
.graphbox .item .bar span {position:relative; display:inline-block; overflow:hidden; width:100%; height:8px; font-size:0; line-height:0; background-color:#a1aab8;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.graphbox .item .bar {
	-webkit-box-shadow:0 0 3px 0 #a1aab8;
	box-shadow:0 0 3px 0 #a1aab8;
}
.graphbox .item .bar span {position:absolute; top:0; left:0; width:auto; background-color:#3788dc;}
.colorCode2 .graphbox .item .bar span {background-color:#55be8e;}
.colorCode3 .graphbox .item .bar span {background-color:#dc5d4c;}
.colorCode4 .graphbox .item .bar span {background-color:#965de3;}
.colorCode5 .graphbox .item .bar span {background-color:#fcb83a;}

.poll.graph .info {color:#333; line-height:2em;}
.poll.graph .btnWrap {padding-top:10px;}

.survey .requestForm {border:1px solid #e3e6ea; border-top:0 none;}
.survey .pollbox {margin-top:10px; border:1px solid #e3e6ea;
	-webkit-box-shadow:0 0 5px 1px #e3e6ea
	box-shadow:0 0 5px 1px #e3e6ea
}

#ui-datepicker-div + input {display:none;}

/* 커뮤니티 정보 */
.comInfoBox {position:relative;}
.comInfoBox .view {width:49.5%; border:1px solid #e3e6ea; margin:10px 0 0 0;
	-webkit-box-shadow:0 0 3px 0 #e3e6ea;
	box-shadow:0 0 3px 0 #e3e6ea;
}
.comInfoBox .view .pic {height:426px;}
.comInfoBox .view .pic img {width:100%; height:100%;}

.comInfoBox .txtWrap {padding:15px 12px; background-color:#fff;}
.comInfoBox .txtWrap .tit {color:#222; font-size:1.25em; line-height:1.5em; font-weight:bold;}
.comInfoBox .txtWrap .txt {padding:3px 0 0 0; color:#2f2729; line-height:1.4em;}

.comInfoBox .ex {position:absolute; top:0; left:50.5%; right:0; bottom:0; border:1px solid #e3e6ea; padding:0 0 0 0; background-color:#fff;
	-webkit-box-shadow:0 0 3px 0 #e3e6ea;
	box-shadow:0 0 3px 0 #e3e6ea;
}
.comInfoBox .ex table {width:100%; table-layout:fixed;}
.comInfoBox .ex table th,
.comInfoBox .ex table td {border-bottom:1px solid #ebecef; line-height:1.4em;}
.comInfoBox .ex table th {padding:0 0 0 20px; width:30%; color:#333e52; text-align:left;}
.comInfoBox .ex table td {padding:15px 0 15px 20px;}

.replybox1 {margin-top:0; border-top:0 none;}
.listView .listViewHead1 .tit {padding:15px 20px 13px; font-size:1em; line-height:1.4em; font-weight:bold; color:#333e52;}

.replybox1 .replySearch {border-top:0 none;}
.replybox1 .replySearch div {vertical-align:top;}
.replybox1 .replyLine .modify .input textarea,
.replybox1 .replySearch div.input textarea {height:80px; display:block; font-size:1em;
	-webkit-box-shadow:0 0 3px 0 #d4d6d9 inset;
	box-shadow:0 0 3px 0 #d4d6d9 inset;
	-webkit-border-radius:0;
	border-radius:0;
}
.replybox1 .replySearch div.btn .buttonBtn {height:80px; line-height:80px;}

.replybox1 .replyLine .modify .input {vertical-align:top;}
.replybox1 .replyLine .modify .input textarea {height:85px;}
.replybox .replyLine .modify .btn3 {width:128px; padding-left:5px;vertical-align:top;}
.replybox .replyLine .modify .btn3 span {display:block;}
.replybox .replyLine .modify .btn3 span:first-child {padding-bottom:5px;}

@media (max-width: 1280px){
}

@media (max-width: 1024px){

	.popup_layer {width:390px;}

	.wrap {font-size:1em;}
	.sublist ul li a > .nBox {width:57px;}

	.albumList li a .pic {height:165px;}
	.albumList li a .tit {height:48px;}

	.survey .hWrap h2.h2 {padding:10px 0 10px 46px}
	.survey .hWrap .buttonBtn,
	.surveyList .buttonBtn {height:40px; line-height:40px;}

	.surveyList li .item .con span {width:60px;
		-webkit-border-radius:12px;
		border-radius:12px;
	}

	/* 커뮤니티 정보 */
	.comInfoBox .view .pic {height:342px;}

}

@media (max-width: 1000px){

	footer .info .time {text-align:left; float:left; clear:both; display:block; margin-left:0; padding-top:5px; padding-left:0; border-left:0 none;}
	footer .info .time .lb {display:inline-block; border-right:1px solid #ccc; height:10px; margin:0 12px;}
	footer .info .time .copyright {display:block; padding-top:4px; text-transform:uppercase; font-size:0.70em; margin:0;}

	footer {position:relative; padding:17px 20px; border-top:0 none;}
	footer .info {float:none; padding-top:0;}
	footer .info .center {padding-bottom:0;}
	footer .info .error {margin-left:0;}
	footer .code {position:absolute; top:20px; right:20px; float:none;}
	footer address {display:none;}

	footer .times {display:none;}
	footer .code .button {font-size:1em;}

	/* 개별 커뮤니티 메인 */
	.conboxMain .sublist {padding:10px; min-height:220px;}
	.conboxSub .sublist {padding:10px;}

	/* 개별 커뮤니티 서브 */
	.conboxSub {min-height:500px;}

	/* 검색 */
	.searchbox {padding:10px;}
	.searchbox .field1 {width:30%;}
	.searchbox .field1 .select select {height:40px;}
	.searchbox .field2 {width:70%; padding-right:0;}
	.searchbox .field2 input {height:40px;}
	.searchbox .field3 {float:none; clear:both; padding-top:5px; width:100%;}
	.searchbox .field3 button {height:40px; line-height:40px;}

	/* 목록 */
	.consubcon {padding:10px;}
	.consubcon.album {padding:10px;}
	.categoryList li a > .txt {line-height:1.5em;}

	/* 목록보기 */
	.listView .viewArea {min-height:250px;}
	.goList [class^='btn'] button {height:50px;}
	.goList .btn2 {padding:0 5px;}
	.goList .btn1, .goList .btn3 {width:50px;}
	.replybox {margin-top:10px;}

	/* 앨범목록 */
	.album h2.h2 {margin:0;}
	.albumList {padding:0; margin-top:5px;}
	.albumList li {float:none; width:100%; padding:0 0 5px 0;}
	.albumList li a .tit {height:auto; overflow:hidden;white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; display:block;}
	.albumList li a .pic {height:222px;}
	.album .moreBtn {margin:0}
	.albumList li a .new {top:50%; margin-top:-16px;}

	/* 앨범보기 */
	.albumView .photo {padding:0 0 10px 0;}
	.albumView .photo img {width:100%;}
	.albumView .photo p {padding:10px 10px 0 10px;}

	/* 설문 */
	.survey {padding:10px;}
	.surveyList li .item .con span,
	.surveyList li .item .con .period {font-size:0.75em;}
	.survey .hWrap .btn,
	.surveyList li .item .btn {width:92px;}
	.surveyList li .item .con span {padding:0 0.875em}
	.surveyList li .item .con span {width:50px;}

	.poll {padding:12px 15px}
	.polltext {padding:12px 8px;}
	.polltext .tit {padding:0 7px 5px;}

	.calWrap {overflow:hidden;}
	.calWrap .cal,
	.calWrap .bar {position:relative; float:left;}
	.calWrap .cal {padding-right:40px; width:48%;}
	.calWrap .bar {width:4%; height:40px; line-height:40px;}
	.calWrap .cal input {width:100%;}
	.calWrap .cal button {position:absolute; top:0; right:0;}

	/* 커뮤니티 정보 */
	.comInfoBox {position:static;}
	.comInfoBox .view {width:100%; margin:0px 0 0 0;}
	.comInfoBox .view .pic {position:relative; height:100%;}
	.comInfoBox .view .pic img {width:100%; height:32%;}

	.comInfoBox .txtWrap {padding:12px;}

	.comInfoBox .ex {position:static; margin-top:10px;}

	.comInfoBox .ex table th {padding:0 0 0 15px;}
	.comInfoBox .ex table td {padding:12px 0 12px 15px;}

}

@media (max-width:800px){
	.communityWrap .head,
	.communityWrap .visual {
		-webkit-background-size:100% 365px;
		background-size:100% 365px;
	}
}

@media (max-width: 768px){
}

@media (max-width: 736px){
}

@media (max-width: 700px){
}

@media (max-width: 667px){
}

@media (max-width: 640px){

}

@media (max-width: 600px){
}

@media (max-width: 570px){
}

@media (max-width: 535px){
}

@media (max-width: 480px){
	.popup_layer {width:95.8%;}
}

@media (max-width: 414px){
	footer .info .center > a {font-size:1.529411764705882em;}
	footer .info .center > span {font-size:0.7058823529411765em;}
	footer .code {top:15px;}
	footer .code .button {font-size:0.875em;}
	footer .info .time {font-size:0.8571428571428571em;}
	footer .info .time .copyright {font-size:0.75em;}

	/* 개별커뮤니티 메인 */
	.communityWrap .headIn .btnClose button {width:33px; height:33px;}
	.communityWrap .visual {height:363px;}
	.communityWrap .visual .txtbox .tit {font-size:1.6875em;}
	.communityWrap .headIn {padding:0 50px;}

	.conboxMain {margin-top:363px;}

	.tabmenu ul li a {padding:13px 0 10px; font-size:1.0625em;}
	.sublist ul li a > .txt {padding:10px;}
	.sublist ul li a > .txt .tit {padding:0;}
	.sublist ul li a > .txt .info {padding:0; font-size:0.75em;}
	.sublist ul li a > .new {width:32px;}
	.sublist ul li a > .new span {width:30px; height:30px; line-height:30px;}
	.sublist ul li a > .nBox {width:47px;}
	.sublist ul li a > .nBox span {padding:2px 8px; font-size:0.75em;}

	.categoryList li a > .new {width:30px;}
	.categoryList li a > .new span {width:30px; height:30px; line-height:30px;}

	/* 글쓰기 */
	.requestForm .table_form tbody th {width:89px; padding-left:15px;}

	.calWrap .cal {padding-right:28px;}
	.calWrap span button {width:28px;
		background-size:20px 20px;
	}

}
@media (max-width: 384px){
	.conboxMain .sublist {padding:10px; min-height:200px;}
	footer {font-size:0.9375em;}

	/* 목록보기 */
	.replybox .replySearch div.btn {width:100px;;}
	.replybox .replyLine .modify .btn1 {width:64px;}
	.replybox .replyLine .modify .btn2 {width:84px;}

	.replybox1 .replyLine .modify .btn3 {width:100px;}
}

@media (max-width: 375px){

	.goTop a {width:60px; height:60px;}

	/* 개별커뮤니티 메인 */
	.communityWrap .visual {height:316px;}

	.communityWrap .head,
	.communityWrap .visual {
		-webkit-background-size:100% 320px;
		background-size:100% 320px;
	}

	.conboxMain {margin-top:316px;}

	.sublist ul li a > .pic {width:90px;}
	.sublist ul li a > .pic img {width:90px; height:90px;}

	/* 앨범목록 */
	.albumList li a .pic {height:196px;} 

	/* 글쓰기 */
	.requestForm .table_form tbody th {width:75px;}

	/* 설문 */
	.survey .hWrap {padding:5px 10px 5px 0;}
	.surveyList li .item {padding:0 10px;}
	.survey .hWrap .btn,
	.surveyList li .item .btn {width:80px;}
	.surveyList li .item .con {padding:10px 10px 10px 0}

	.calWrap .cal input {font-size:0.875em;}

	.replybox1 .replySearch div.btn .buttonBtn {height:68px; line-height:68px;}
	.replybox1 .replySearch div.input textarea {height:68px;}

	.replybox1 .replyLine .modify .btn3 button {height:32px; line-height:32px;}
	.replybox1 .replyLine .modify .input textarea {height:69px;}

}

@media (max-width: 360px){
	.conboxMain .sublist {min-height:175px;}
	.conboxSub {min-height:450px;}
}

@media (max-width: 320px){

	.goTop a {width:54px; height:54px;}

	.communityWrap .headIn .btnClose {top:13px;}

	.moreBtn a {display:block; padding:8px 0; text-align:center; font-size:1em;}
	.moreBtn a span {width:36px; height:36px;}

	.popup_layer,
	.communityWrap,
	footer {font-size:0.875em;}

	.popup_layer .pCon .copy {padding:7px 10px 5px 10px}
	.popup_layer .close button {width:22px; height:22px;}

	.rTable table th, .rTable table td {padding:8px 5px}

	.searchFieldWrap .buttonBtn {height:40px; line-height:40px;}

	/* 개별커뮤니티 메인 */
	.communityWrap .visual {height:280px;}
	.communityWrap .headIn .btnClose button {width:26px; height:26px;}
	.communityWrap .headIn {padding:0 40px;}

	.sublist ul li a > .new {width:28px;}
	.sublist ul li a > .new span {width:26px; height:26px; line-height:26px;}
	.sublist ul li a > .nBox {width:42px;}
	.sublist ul li a > .nBox span {padding:1px 6px;}

	.sublist ul li a > .txt {padding:6px 10px;}

	.conboxMain {margin-top:280px;}

	.sublist ul li a > .pic {width:80px;}
	.sublist ul li a > .pic img {width:80px; height:80px;}

	.conboxMain .sublist {min-height:100px;}
	.conboxSub {min-height:400px;}

	.searchbox .field1 .select select {height:34px;}
	.searchbox .field2 input {height:34px;}
	.searchbox .field3 button {height:34px; line-height:34px;}

	.categoryList li a > .new {width:26px;}
	.categoryList li a > .new span {width:26px; height:26px; line-height:26px;}

	.communityWrap .head,
	.communityWrap .visual {
		-webkit-background-size:100% 280px;
		background-size:100% 280px;
	}

	/* 목록보기 */
	.replybox .replySearch div.btn {width:90px;}
	.replybox .replyLine .modify .btn1 {width:54px;}
	.replybox .replyLine .modify .btn2 {width:69px;}

	.fileList > p {padding:6px 30px 6px 10px;}
	.fileList > p button {top:8px; right:6px;}

	/* 앨범목록 */
	.albumList li a .pic {height:176px;} 

	/* 글쓰기 */
	.requestForm .table_form tbody th {width:58px;}

	/* 설문 */
	.survey .hWrap .buttonBtn,
	.surveyList .buttonBtn {height:32px; line-height:32px;}
	.survey .hWrap h2.h2 {padding:6px 0 6px 46px}
	.survey .hWrap .btn,
	.surveyList li .item .btn {width:72px;}
	.surveyList li .item .con span {width:45px;}

	.answerList .answerbox span.num {width:40px;}

	input.radio {
		background-size:20px 20px;
	}
	input.checkbox {width:25px; height:25px;
		background-size:17px 12px;
	}
	.poll {padding:7px 10px}
	.polltext {padding:12px 5px;}
	.polltext .tit {padding:0 5px 5px;}

	.calWrap .cal input {font-size:0.8125em;}

	.replybox1 .replyLine .modify .btn3,
	.replybox .replySearch div.btn {width:90px;}

	.replybox1 .replySearch div.input textarea,
	.replybox1 .replySearch div.btn .buttonBtn {height:60px;}

	.replybox1 .replyLine .modify .btn3 button {height:30px; line-height:30px;}
	.replybox1 .replyLine .modify .input textarea {height:65px;}

}

@media (max-width: 320px) and (max-device-height:480px){
	.rTable {height:150px;}
}