@charset "utf-8";

@font-face {
	font-family: 'NotoSans';
	font-weight: 400;
	src: url('../../font/NotoSansCJKkr-Regular.eot');
	src: url('../../font/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
	url('../../font/NotoSansCJKkr-Regular.woff') format('woff'),
	url('../../font/NotoSansCJKkr-Regular.otf') format('truetype');
}
@font-face {
	font-family: 'NotoSans';
	font-weight: 700;
	src: url('../../font/NotoSansCJKkr-Bold.eot');
	src: url('../../font/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
	url('../../font/NotoSansCJKkr-Bold.woff') format('woff'),
	url('../../font/NotoSansCJKkr-Bold.otf') format('truetype');
}

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,th,td,input,textarea{margin:0;padding:0;}
img,fieldset,iframe{border:0 none;}
ol,ul,li{list-style:none;}
input,select,button,textarea{vertical-align:middle;}
img{vertical-align:top;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{border:none;background:none; visibility: visible;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
legend{*width:0;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
caption,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;}

html, body, h1, h2, h3, h4, input, button, textarea{font-family: 'NotoSans', 'Malgun Gothic','맑은 고딕',Dotum,Helvetica, sans-serif; color: #333; font-size: 16px; line-height: 1.4375; letter-spacing: -1px;}
.cn {font-family:'돋움',Dotum,Arial sans-serif;}
body {word-wrap:break-word; word-break:keep-all; color: #000;}

.sknavi {position:absolute;top:0; width: 1px; height: 1px; overflow: hidden; opacity: 0;}
.sknavi:focus, .sknavi:active {display:block; width:120px; height:18px;  padding:3px; text-align:center; font-size:12px; font-weight:bold; background-color:#eee; border: 1px solid #135; text-decoration:none; color:#333; z-index:9999; opacity: 1;}


.btn-fixed-up {display: none; background: url('../images/main/main.png') -160px -450px no-repeat; width:45px; height:45px; font-size: 0; position:fixed; bottom: 222px; left: 50%; margin-left: 510px;}
.btn-hide {display:none !important;}
.top {display: none;}

/* brand bar */
#topmenu {background:#333;height:40px;position: relative; z-index: 9997;}
#topmenu .top_menu_area {*zoom:1; width: 960px; margin: 0 auto;}
#topmenu .top_menu_area:after {display: block; content:''; clear:both;}
#topmenu .fl {float:left}
#topmenu .fr {float:right;}
#topmenu li {display:inline-block;float:left;}
#topmenu .top_menu_area > ul> li > a{font-size:0; line-height:0; text-indent:-999em; width: 54px; height:40px; display:block; background: url('../images/common/topmenu.gif') no-repeat}
#topmenu .top_menu_area > ul> li.tm01 a {background-position: 0 0; width: 45px;}
#topmenu .top_menu_area > ul> li.tm01.selected a {background-position: 0 -40px;}
#topmenu .top_menu_area > ul> li.tm02 a {background-position: -45px 0; width: 66px;}
#topmenu .top_menu_area > ul> li.tm02.selected a {background-position: -45px -80px;}
#topmenu .top_menu_area > ul> li.tm03 a {background-position: -111px 0; width: 86px;}
#topmenu .top_menu_area > ul> li.tm03.selected a {background-position: -111px -120px;}
#topmenu .top_menu_area > ul> li.tm04 a {background-position: -197px 0; width: 88px;}
#topmenu .top_menu_area > ul> li.tm04.selected a {background-position: -197px -160px;}
#topmenu .top_menu_area > ul> li.tm05 a {background-position: -284px 0; width: 131px;}
#topmenu .top_menu_area > ul> li.tm05.selected a {background-position: -284px -200px;}
#topmenu .top_menu_area > ul> li.tm06 a {background-position: -416px 0; width: 61px;}
#topmenu .top_menu_area > ul> li.tm06.selected a {background-position: -416px -240px;}
#topmenu .top_menu_area > ul> li.tm07 a {background-position: -715px 0; width: 104px;}
#topmenu .top_menu_area > ul> li.tm08 a {background-position: -823px 0; width: 137px; margin-left: 4px;}

.footer-link {background-color:#212121;}
.footer-link .footer-link-in {margin:0 auto; padding-top:1px; width:960px; height:50px;}
.footer-link .links {float:left; margin-top:19px;}
.footer-link .links li {float:left;}
.footer-link .links li a {display:block; border-left:1px solid #909090; padding:0 17px; height:12px; line-height:12px; color:#909090; font-size:13px;}
.footer-link .links li.info a {color:#d2d2d2;}
.footer-link .links li:first-child a {padding-left:7px; border-left:0 none;}

.footer-link-in .select-wrap {float:right; padding-top:10px;}
.footer-link-in .select-wrap .btn-go {float:left; margin-left:3px;}
.footer-link-in .select-wrap .btn-go a {overflow:hidden; display:block; width:32px; height:30px; line-height:100em; background:url('../images/common/btn-go.png') 0 0 no-repeat;}
.footer-link-in  .jqTransformSelectWrapper {background:none; letter-spacing:0;}
.footer-link-in .jqTransformSelectWrapper ul {border-color:#666; border-bottom:0 none; top:auto; bottom:31px; height:252px;}
.footer-link-in .jqTransformSelectWrapper div span {font-size:13px; border:1px solid #666; border-right:0 none; padding:0 0 0 7px; color:#808080; height:28px; line-height:28px;}
.footer-link-in .jqTransformSelectWrapper a.jqTransformSelectOpen {border:1px solid #666; border-left:0 none; width:22px; height:28px; background:url('../images/common/bg-select-arrow2.png') 0 0 no-repeat;}
.footer-link-in .jqTransformSelectWrapper ul a {font-size:13px; line-height:13px; color:#808080; background-color:#212121;}
.footer-link-in .jqTransformSelectWrapper ul a:hover, .footer-link-in .jqTransformSelectWrapper ul a.selected:hover {background:#a7d3f6; color: #fff;}
.footer-link-in .jqTransformSelectWrapper ul a.selected {color:#fff; background-color:#64b5f6;}

.footer-link-in .ul-open a.jqTransformSelectOpen {border-color:#42a5f5; background-position:0 -28px;}
.footer-link-in .ul-open div span {border-color:#42a5f5; background-color:#42a5f5; color:#fff;}

.footer-copyright {border-top:1px solid #303030; height:96px; background-color:#212121;}
.footer-copyright .footer-copyright-in {position:relative; margin:0 auto; width:960px; font-size:12px; color:#909090;}
.footer-copyright .address {padding:15px 0 0 7px; line-height:18px; font-size:12px; color:#7e7e7e; letter-spacing:0;}
.footer-copyright .cr {padding:7px 0 0 7px; font-size:11px; color:#525151; letter-spacing:0;}
.footer-copyright .footer-logo {position:absolute; top:28px; right:12px;}

.footer_banner2 {border-bottom:0 none; padding-top:1px;}
.footer_banner .banner_img2 {overflow:hidden; margin:0 auto; padding:12px 0 0; height:57px; width:960px;}
.footer_banner .banner_img2 li {float:left;}
.footer_banner .banner_img2 li.item1 {margin-right:66px;}
.footer_banner .banner_img2 li.item2 {margin-right:58px;}
.footer_banner .banner_img2 li.item3 {margin-right:49px;}
.footer_banner .banner_img2 li.item4 {margin-right:32px;}
.footer_banner .banner_img2 li.item5 {margin-right:40px;}

.footer-copyright {height: 120px;}
.footer-add-text {padding-left: 7px; margin-top: 10px; font-size: 12px; line-height: 18px; color: #7e7e7e; letter-spacing: 0;}
.footer-add-text em {margin-right: 5px; color: #42a5f5; font-weight: 600; font-style: normal;}

.ly-footer {background: #717171;}
.footer-link {background: #717171;}
.footer-link .links {margin: 0; padding: 38px 0 20px;}
.footer-link .footer-link-in {height: 70px;}
.footer-link .links li a {color: #b8b8b8;}
.footer-link .links li a strong {color: #fff;}
.footer-link-in .jqTransformSelectWrapper div span {border-color: #b8b8b8; color: #b8b8b8; background: #717171;}
.footer-link-in .select-wrap {padding: 28px 0 0 ;}
.footer-link-in .jqTransformSelectWrapper a.jqTransformSelectOpen {width: 29px; height: 28px; background: url('../images/common/bg-select-arrow2.png'); border-color: #b8b8b8;}
.footer-link-in .select-wrap .btn-go a {width: 30px; height: 30px; background: url('../images/common/btn-go.png');}
.footer-copyright {height: 150px; background: #717171; border-color: #b8b8b8;}
.footer-copyright .address {padding: 28px 0 0 7px;}
.footer-copyright .address,
.footer-copyright .cr,
.footer-add-text {color: #b8b8b8;}
.footer-add-text em {color: #fff;}

/* gnb */
.gnb {position: relative; z-index: 10;}
.gnb .gnb-in {width: 960px; margin: 0 auto;}
.gnb .gnb-in:after {content:''; display: block; clear:both;}
.gnb .logo {float: left;}
.gnb .logo a {display: block;}
.gnb .gnblist {float: left; margin: 0 0 0 107px;}
.gnb .gnblist > li {float: left; /*margin-left: 46px;*/}
.gnb .gnblist > li:first-child {margin-left: 0;}
.gnb .gnblist > li > a {position: relative; display: block; padding-left: 23px; padding-right: 23px; height: 62px; line-height: 62px; color: #333; font-size: 18px; font-weight: 700;}
.gnb .gnblist > li.on > a:after {content:''; display: block; position: absolute; left: 23px; right: 23px; bottom: 15px; height: 2px; background-color: #333; font-size: 0;}
.gnb .gnb-sub {display: none; position: absolute; left: 0; right: 0; top: 61px; overflow: hidden; border-top: 1px solid #cacaca; border-bottom: 2px solid #000; background-color: #fff;}
.gnb .gnb-sub .guide,
.gnb .gnb-sub .menu {float: left; border-left: 1px solid #e9e9e9; width: 20%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gnb .gnb-sub .guide,
.gnb .gnb-sub .menu {padding: 27px 0 0 0 ;min-height:274px; text-align: center;}
.gnb .gnb-sub .guide {border-right: 1px solid #e9e9e9; background: #f4f5f8 url('../images/common/bg-contact.png') right bottom no-repeat;}
.gnb .gnb-sub .guide .p1 {font-size: 16px; line-height: 21px; font-weight: 700; color: #000;}
.gnb .gnb-sub .guide .p2 {font-size: 26px; color: #4b4b4b;}
.gnb .gnb-sub-in {margin: 0 auto; width: 960px;}
.gnb .gnb-sub .menu .depth1 {font-size: 18px; line-height: 21px; font-weight: 700; color: #2763ba;}
.gnb .gnb-sub .menu .depth2 {margin-top: 5px; font-size: 13px; line-height: 21px;}
.gnb .gnb-sub .menu .depth2 a {color: #4b4b4b; font-size: 15px; line-height: 26px;}
.gnb .gnb-sub .menu .depth2 a:hover {text-decoration:underline;}

.fc1 {color: #2763ba !important;;}

/* brandbar 2019 */
#topmenu {height: 44px; border-bottom: 1px solid #bebebe; background-color: #0f1012;}
.top_menu_area2 {width: 960px; overflow: hidden; margin: 0 auto; height: 44px;}
.top_menu_area2 .fl {float: left;}
.top_menu_area2 .fr {float: right;}
.top_menu_area2 li {float: left;}
.top_menu_area2 li a {display: block; height: 45px; font-size: 0;
	background-repeat: no-repeat;
	background-image: url('http://el.multicampus.com/web/credu/images/kor/common/topmenu2019.jpg');
}
.top_menu_area2 li.tm01 a {width: 101px; background-position: 0 0;}
.top_menu_area2 li.tm02 {margin-left: 31px;}
.top_menu_area2 li.tm02 a {width: 60px; background-position: -132px -45px;}
.top_menu_area2 li.tm02.selected a {background-position: -132px 0;}
.top_menu_area2 li.tm03 {margin-left: 7px;}
.top_menu_area2 li.tm03 a {width: 65px; background-position: -199px 0;}
.top_menu_area2 li.tm03.selected a {background-position: -199px -45px;}
.top_menu_area2 li.tm04 {margin-left: 14px;}
.top_menu_area2 li.tm04 a {width: 70px; background-position: -278px 0;}
.top_menu_area2 li.tm04.selected a {background-position: -278px -90px;}
.top_menu_area2 li.tm05 {margin-left: 12px;}
.top_menu_area2 li.tm05 a {width: 80px; background-position: -360px 0;}
.top_menu_area2 li.tm05.selected a {background-position: -360px -135px;}
.top_menu_area2 li.tm06 {margin-left: 11px;}
.top_menu_area2 li.tm06 a {width: 50px; background-position: -451px 0;}
.top_menu_area2 li.tm06.selected a {background-position: -451px -180px;}
.top_menu_area2 li.tm07 a {width: 73px; background-position: -758px 0;}
.top_menu_area2 li.tm08 a {width: 103px; background-position: -857px 0;}
.top_menu_area2 li.tm08 {margin-left: 26px;}